openapi: 3.2.0
info:
  title: MediaValet Terms And Conditions API
  description: The MediaValet API is a RESTful, JSON, hypermedia-driven service that supplies data to clients consuming the MediaValet cloud digital asset management (DAM) platform.
  version: '1.0'
  contact:
    name: MediaValet
    url: https://developer.mediavalet.com
  termsOfService: https://www.mediavalet.com/terms-of-service
servers:
- url: https://api.mediavalet.com
  description: MediaValet API gateway (public)
security:
- oauth2:
  - api
  subscriptionKey: []
tags:
- name: Terms And Conditions
  description: Terms and conditions acceptance.
paths:
  /public/{domainName}/termsAndConditions:
    get:
      operationId: retrieveTermsAndConditions
      summary: Retrieve Terms And Conditions
      description: Retrieves the terms and conditions for a given domain name.
      tags:
      - Terms And Conditions
      parameters:
      - name: domainName
        in: path
        required: true
        description: domainName path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  displayTermsAndConditions:
                    type: boolean
                  termsAcceptanceRequiredForLogin:
                    type: boolean
                  termsAndConditionsNotice:
                    type: string
                  termsAndConditionsUpdated:
                    type: string
                    format: date-time
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      adipisicingdf:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      Utaa8:
                        type: object
                      Lorem32:
                        type: object
                      non__1:
                        type: object
                      cupidatat527:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                displayTermsAndConditions: <boolean>
                termsAcceptanceRequiredForLogin: <boolean>
                termsAndConditionsNotice: <string>
                termsAndConditionsUpdated: <dateTime>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  adipisicingdf: {}
                interpolations:
                  Utaa8: {}
                  Lorem32: {}
                  non__1: {}
                  cupidatat527: {}
                permissions:
                - asset:shareAsLink
                - asset:shareAsBrandedPortal
        '500':
          description: The request failed because of a problem on the server.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 / OpenID Connect issued by https://iam.mediavalet.com via https://login.mediavalet.com. Send the access token as a Bearer Authorization header.
      flows:
        authorizationCode:
          authorizationUrl: https://login.mediavalet.com/connect/authorize
          tokenUrl: https://login.mediavalet.com/connect/token
          refreshUrl: https://login.mediavalet.com/connect/token
          scopes:
            openid: OpenID Connect identity
            profile: User profile claims
            api: Access the MediaValet API
            api:service_principal: Service-principal (machine) access to the MediaValet API
            iam.admin: Administer MediaValet identity and access management
            iam.provisioning: Provision users and organizations
            offline_access: Obtain a refresh token
        clientCredentials:
          tokenUrl: https://login.mediavalet.com/connect/token
          scopes:
            api: Access the MediaValet API
            api:service_principal: Service-principal (machine) access to the MediaValet API
        password:
          tokenUrl: https://login.mediavalet.com/connect/token
          scopes:
            openid: OpenID Connect identity
            api: Access the MediaValet API
            offline_access: Obtain a refresh token
    subscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: Per-account API subscription key issued through the MediaValet Developer Portal (Azure API Management).
