openapi: 3.0.3
info:
  title: MediaValet Config API
  description: |-
    The MediaValet API is a RESTful, JSON, hypermedia-driven service that supplies data to clients consuming the MediaValet cloud digital asset management (DAM) platform. The service applies business rules, permission rules, and other data processing to standardize what is returned. Requests go to the API gateway at https://api.mediavalet.com and must carry two credentials: an OAuth 2.0 / OpenID Connect Bearer access token issued by https://login.mediavalet.com/connect/token, and a per-account subscription key in the Ocp-Apim-Subscription-Key header. Requests also carry an x-mv-api-version header to select the API version. Access requires a MediaValet subscription and registration in the MediaValet Developer Portal at https://developer.mediavalet.com.

    PROVENANCE: this definition is derived operation-for-operation from MediaValet's own published Postman collection ("MediaValet API", collection 55cc404f-b818-43ba-87c2-1a07f2a47bd9) served at https://docs.mediavalet.com/api/collections/15676803/TzRUB7XE. Paths, methods, parameters, request bodies, response status codes and examples come from that collection. Schemas are inferred from the collection's request/response example payloads and are indicative rather than authoritative.
  version: '1.0'
  contact:
    name: MediaValet
    url: https://developer.mediavalet.com
  termsOfService: https://www.mediavalet.com/terms-of-service
servers:
- url: https://api.mediavalet.com
  description: MediaValet API gateway (public)
security:
- oauth2:
  - api
  subscriptionKey: []
tags:
- name: Config
  description: Library and account configuration.
paths:
  /config/cognitive:
    get:
      operationId: retrieveCognitiveConfiguration
      summary: Retrieve Cognitive Configuration
      description: Retrieves the configuration for Cognitive Tags.
      tags:
      - Config
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    renditionKindId:
                      type: string
                      format: uuid
                    code:
                      type: integer
                    description:
                      type: string
                    height:
                      type: integer
                    isDefault:
                      type: boolean
                    mimeType:
                      type: string
                    name:
                      type: string
                    quality:
                      type: integer
                    targetFileExtension:
                      type: string
                    width:
                      type: integer
                    colorspace:
                      type: string
                    _links:
                      type: object
                      properties:
                        self:
                          type: string
                        functions:
                          type: array
                          items:
                            type: string
                    translationKeys:
                      type: object
                      properties:
                        consectetur9de:
                          type: object
                        ex_f32:
                          type: object
                    interpolations:
                      type: object
                      properties:
                        labore16f:
                          type: object
                        dolor5:
                          type: object
                        amet38d:
                          type: object
                    permissions:
                      type: array
                      items:
                        type: string
              example:
              - renditionKindId: <uuid>
                code: <integer>
                description: <string>
                height: <integer>
                isDefault: <boolean>
                mimeType: <string>
                name: <string>
                quality: <integer>
                targetFileExtension: <string>
                width: <integer>
                colorspace: <string>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  consectetur9de: {}
                  ex_f32: {}
                interpolations:
                  labore16f: {}
                  dolor5: {}
                  amet38d: {}
                permissions:
                - asset:shareAsWebGallery
                - user:editEmail
              - renditionKindId: <uuid>
                code: <integer>
                description: <string>
                height: <integer>
                isDefault: <boolean>
                mimeType: <string>
                name: <string>
                quality: <integer>
                targetFileExtension: <string>
                width: <integer>
                colorspace: <string>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  veniam_25c: {}
                  qui__ec: {}
                  mollit_c: {}
                interpolations:
                  sit_36d: {}
                  laborumf4: {}
                  quis_1: {}
                  nulla56: {}
                permissions:
                - asset:downloadFromMvd
                - asset:shareAsLightbox
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
  /config/renditionkinds:
    get:
      operationId: retrieveRenditionKinds
      summary: Retrieve Rendition Kinds
      description: Retrieves the supported rendition kinds.
      tags:
      - Config
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    renditionKindId:
                      type: string
                      format: uuid
                    code:
                      type: integer
                    description:
                      type: string
                    height:
                      type: integer
                    isDefault:
                      type: boolean
                    mimeType:
                      type: string
                    name:
                      type: string
                    quality:
                      type: integer
                    targetFileExtension:
                      type: string
                    width:
                      type: integer
                    colorspace:
                      type: string
                    _links:
                      type: object
                      properties:
                        self:
                          type: string
                        functions:
                          type: array
                          items:
                            type: string
                    translationKeys:
                      type: object
                      properties:
                        consectetur9de:
                          type: object
                        ex_f32:
                          type: object
                    interpolations:
                      type: object
                      properties:
                        labore16f:
                          type: object
                        dolor5:
                          type: object
                        amet38d:
                          type: object
                    permissions:
                      type: array
                      items:
                        type: string
              example:
              - renditionKindId: <uuid>
                code: <integer>
                description: <string>
                height: <integer>
                isDefault: <boolean>
                mimeType: <string>
                name: <string>
                quality: <integer>
                targetFileExtension: <string>
                width: <integer>
                colorspace: <string>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  consectetur9de: {}
                  ex_f32: {}
                interpolations:
                  labore16f: {}
                  dolor5: {}
                  amet38d: {}
                permissions:
                - asset:shareAsWebGallery
                - user:editEmail
              - renditionKindId: <uuid>
                code: <integer>
                description: <string>
                height: <integer>
                isDefault: <boolean>
                mimeType: <string>
                name: <string>
                quality: <integer>
                targetFileExtension: <string>
                width: <integer>
                colorspace: <string>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  veniam_25c: {}
                  qui__ec: {}
                  mollit_c: {}
                interpolations:
                  sit_36d: {}
                  laborumf4: {}
                  quis_1: {}
                  nulla56: {}
                permissions:
                - asset:downloadFromMvd
                - asset:shareAsLightbox
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 / OpenID Connect issued by https://iam.mediavalet.com via https://login.mediavalet.com.
        Send the access token as a Bearer Authorization header.
      flows:
        authorizationCode:
          authorizationUrl: https://login.mediavalet.com/connect/authorize
          tokenUrl: https://login.mediavalet.com/connect/token
          refreshUrl: https://login.mediavalet.com/connect/token
          scopes:
            openid: OpenID Connect identity
            profile: User profile claims
            api: Access the MediaValet API
            api:service_principal: Service-principal (machine) access to the MediaValet API
            iam.admin: Administer MediaValet identity and access management
            iam.provisioning: Provision users and organizations
            offline_access: Obtain a refresh token
        clientCredentials:
          tokenUrl: https://login.mediavalet.com/connect/token
          scopes:
            api: Access the MediaValet API
            api:service_principal: Service-principal (machine) access to the MediaValet API
        password:
          tokenUrl: https://login.mediavalet.com/connect/token
          scopes:
            openid: OpenID Connect identity
            api: Access the MediaValet API
            offline_access: Obtain a refresh token
    subscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: Per-account API subscription key issued through the MediaValet Developer Portal (Azure
        API Management).
