openapi: 3.0.3
info:
  title: MediaValet Users API
  description: |-
    The MediaValet API is a RESTful, JSON, hypermedia-driven service that supplies data to clients consuming the MediaValet cloud digital asset management (DAM) platform. The service applies business rules, permission rules, and other data processing to standardize what is returned. Requests go to the API gateway at https://api.mediavalet.com and must carry two credentials: an OAuth 2.0 / OpenID Connect Bearer access token issued by https://login.mediavalet.com/connect/token, and a per-account subscription key in the Ocp-Apim-Subscription-Key header. Requests also carry an x-mv-api-version header to select the API version. Access requires a MediaValet subscription and registration in the MediaValet Developer Portal at https://developer.mediavalet.com.

    PROVENANCE: this definition is derived operation-for-operation from MediaValet's own published Postman collection ("MediaValet API", collection 55cc404f-b818-43ba-87c2-1a07f2a47bd9) served at https://docs.mediavalet.com/api/collections/15676803/TzRUB7XE. Paths, methods, parameters, request bodies, response status codes and examples come from that collection. Schemas are inferred from the collection's request/response example payloads and are indicative rather than authoritative.
  version: '1.0'
  contact:
    name: MediaValet
    url: https://developer.mediavalet.com
  termsOfService: https://www.mediavalet.com/terms-of-service
servers:
- url: https://api.mediavalet.com
  description: MediaValet API gateway (public)
security:
- oauth2:
  - api
  subscriptionKey: []
tags:
- name: Users
  description: Users, their profiles, permissions and entitlements.
paths:
  /users:
    get:
      operationId: retrieveUsers
      summary: Retrieve Users
      description: Retrieves a collection of users details belonging to the library.
      tags:
      - Users
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    userName:
                      type: string
                    address:
                      type: string
                    orgUnitId:
                      type: string
                      format: uuid
                    applicationName:
                      type: string
                    defaultGroup:
                      type: string
                    userDomain:
                      type: string
                    firstName:
                      type: string
                    lastName:
                      type: string
                    department:
                      type: string
                    position:
                      type: string
                    title:
                      type: string
                    officeNumber:
                      type: string
                    cellularNumber:
                      type: string
                    faxNumber:
                      type: string
                    emailAddress:
                      type: string
                    comment:
                      type: string
                    defaultSkin:
                      type: string
                    additionalMessage:
                      type: string
                    adminNotes:
                      type: string
                    lastActiveAt:
                      type: string
                      format: date-time
                    lastLockedOutAt:
                      type: string
                      format: date-time
                    lastLoginAt:
                      type: string
                      format: date-time
                    createdAt:
                      type: string
                      format: date-time
                    expiresAt:
                      type: string
                      format: date-time
                    termsandconditionsacceptedat:
                      type: string
                      format: date-time
                    termsConditionsAcceptanceStatus:
                      type: string
                    website:
                      type: string
                    alertsEnabled:
                      type: boolean
                    newUserNotification:
                      type: boolean
                    password:
                      type: string
                    organizationName:
                      type: string
                    isLockedOut:
                      type: boolean
                    isSuspended:
                      type: boolean
                    isApproved:
                      type: boolean
                    userType:
                      type: string
                    isExternalUser:
                      type: boolean
                    roleId:
                      type: string
                      format: uuid
                    _links:
                      type: object
                      properties:
                        self:
                          type: string
                        functions:
                          type: array
                          items:
                            type: string
                    translationKeys:
                      type: object
                      properties:
                        cillum34:
                          type: object
                        mollit_1c1:
                          type: object
                    interpolations:
                      type: object
                      properties:
                        anim_f:
                          type: object
                    permissions:
                      type: array
                      items:
                        type: string
              example:
              - id: <uuid>
                userName: <string>
                address: <string>
                orgUnitId: <uuid>
                applicationName: <string>
                defaultGroup: <string>
                userDomain: <string>
                firstName: <string>
                lastName: <string>
                department: <string>
                position: <string>
                title: <string>
                officeNumber: <string>
                cellularNumber: <string>
                faxNumber: <string>
                emailAddress: <string>
                comment: <string>
                defaultSkin: <string>
                additionalMessage: <string>
                adminNotes: <string>
                lastActiveAt: <dateTime>
                lastLockedOutAt: <dateTime>
                lastLoginAt: <dateTime>
                createdAt: <dateTime>
                expiresAt: <dateTime>
                termsandconditionsacceptedat: <dateTime>
                termsConditionsAcceptanceStatus: Accepted
                website: <string>
                alertsEnabled: <boolean>
                newUserNotification: <boolean>
                password: <string>
                organizationName: <string>
                isLockedOut: <boolean>
                isSuspended: <boolean>
                isApproved: <boolean>
                userType: AzureActiveDirectory
                isExternalUser: <boolean>
                roleId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  cillum34: {}
                  mollit_1c1: {}
                interpolations:
                  anim_f: {}
                permissions:
                - asset:assignCategory
                - asset:assignCategory
              - id: <uuid>
                userName: <string>
                address: <string>
                orgUnitId: <uuid>
                applicationName: <string>
                defaultGroup: <string>
                userDomain: <string>
                firstName: <string>
                lastName: <string>
                department: <string>
                position: <string>
                title: <string>
                officeNumber: <string>
                cellularNumber: <string>
                faxNumber: <string>
                emailAddress: <string>
                comment: <string>
                defaultSkin: <string>
                additionalMessage: <string>
                adminNotes: <string>
                lastActiveAt: <dateTime>
                lastLockedOutAt: <dateTime>
                lastLoginAt: <dateTime>
                createdAt: <dateTime>
                expiresAt: <dateTime>
                termsandconditionsacceptedat: <dateTime>
                termsConditionsAcceptanceStatus: Accepted
                website: <string>
                alertsEnabled: <boolean>
                newUserNotification: <boolean>
                password: <string>
                organizationName: <string>
                isLockedOut: <boolean>
                isSuspended: <boolean>
                isApproved: <boolean>
                userType: MediaValet
                isExternalUser: <boolean>
                roleId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  mollit_b7: {}
                  commodo_145: {}
                interpolations:
                  tempor_5a: {}
                permissions:
                - lightbox:editDetails
                - None
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
    post:
      operationId: createUser
      summary: Create User
      description: Creates a new user in the library.
      tags:
      - Users
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                AdditionalMessage:
                  type: string
                Address:
                  type: string
                AdminNotes:
                  type: string
                CellularNumber:
                  type: string
                Comment:
                  type: string
                DefaultGroup:
                  type: string
                Department:
                  type: string
                EmailAddress:
                  type: string
                ExpiresAt:
                  type: string
                  format: date-time
                FaxNumber:
                  type: string
                FirstName:
                  type: string
                IsApproved:
                  type: boolean
                LastName:
                  type: string
                OfficeNumber:
                  type: string
                PasswordInformation:
                  type: object
                  properties:
                    Password:
                      type: string
                    PasswordSalt:
                      type: string
                    RecoveryQuestion:
                      type: string
                    RecoveryAnswer:
                      type: string
                    FailedLoginAttemptWindowsStart:
                      type: string
                      format: date-time
                    FailedAnswerAttemptWindowsStart:
                      type: string
                      format: date-time
                    LastChangedAt:
                      type: string
                      format: date-time
                    PasswordStatus:
                      type: string
                    PasswordFormat:
                      type: string
                    ConsecutiveFailedLoginAttempts:
                      type: integer
                    FailedLoginAttemptWindowStart:
                      type: string
                      format: date-time
                    ConsecutiveFailedAnswerAttempts:
                      type: integer
                    FailedAnswerAttemptsWindowStart:
                      type: string
                      format: date-time
                    MustChangePassword:
                      type: boolean
                Position:
                  type: string
                Title:
                  type: string
                UserName:
                  type: string
                Website:
                  type: string
                AlertsEnabled:
                  type: boolean
                NewUserNotification:
                  type: boolean
                OrganizationName:
                  type: string
                TermsAndConditionsAcceptedAt:
                  type: string
                  format: date-time
                TermsAndConditionsAccepted:
                  type: boolean
                TermsConditionsAcceptanceStatus:
                  type: string
            example:
              AdditionalMessage: <string>
              Address: <string>
              AdminNotes: <string>
              CellularNumber: <string>
              Comment: <string>
              DefaultGroup: <string>
              Department: <string>
              EmailAddress: <string>
              ExpiresAt: <dateTime>
              FaxNumber: <string>
              FirstName: <string>
              IsApproved: <boolean>
              LastName: <string>
              OfficeNumber: <string>
              PasswordInformation:
                Password: <string>
                PasswordSalt: <string>
                RecoveryQuestion: <string>
                RecoveryAnswer: <string>
                FailedLoginAttemptWindowsStart: <dateTime>
                FailedAnswerAttemptWindowsStart: <dateTime>
                LastChangedAt: <dateTime>
                PasswordStatus: Unknown
                PasswordFormat: Clear
                ConsecutiveFailedLoginAttempts: <integer>
                FailedLoginAttemptWindowStart: <dateTime>
                ConsecutiveFailedAnswerAttempts: <integer>
                FailedAnswerAttemptsWindowStart: <dateTime>
                MustChangePassword: <boolean>
              Position: <string>
              Title: <string>
              UserName: <string>
              Website: <string>
              AlertsEnabled: <boolean>
              NewUserNotification: <boolean>
              OrganizationName: <string>
              TermsAndConditionsAcceptedAt: <dateTime>
              TermsAndConditionsAccepted: <boolean>
              TermsConditionsAcceptanceStatus: Accepted
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  userName:
                    type: string
                  address:
                    type: string
                  orgUnitId:
                    type: string
                    format: uuid
                  applicationName:
                    type: string
                  defaultGroup:
                    type: string
                  userDomain:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  department:
                    type: string
                  position:
                    type: string
                  title:
                    type: string
                  officeNumber:
                    type: string
                  cellularNumber:
                    type: string
                  faxNumber:
                    type: string
                  emailAddress:
                    type: string
                  comment:
                    type: string
                  defaultSkin:
                    type: string
                  additionalMessage:
                    type: string
                  adminNotes:
                    type: string
                  lastActiveAt:
                    type: string
                    format: date-time
                  lastLockedOutAt:
                    type: string
                    format: date-time
                  lastLoginAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  expiresAt:
                    type: string
                    format: date-time
                  termsandconditionsacceptedat:
                    type: string
                    format: date-time
                  termsConditionsAcceptanceStatus:
                    type: string
                  website:
                    type: string
                  alertsEnabled:
                    type: boolean
                  newUserNotification:
                    type: boolean
                  password:
                    type: string
                  organizationName:
                    type: string
                  isLockedOut:
                    type: boolean
                  isSuspended:
                    type: boolean
                  isApproved:
                    type: boolean
                  userType:
                    type: string
                  isExternalUser:
                    type: boolean
                  roleId:
                    type: string
                    format: uuid
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      eiusmod727:
                        type: object
                      reprehenderitc1:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      non6:
                        type: object
                      anim0:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                userName: <string>
                address: <string>
                orgUnitId: <uuid>
                applicationName: <string>
                defaultGroup: <string>
                userDomain: <string>
                firstName: <string>
                lastName: <string>
                department: <string>
                position: <string>
                title: <string>
                officeNumber: <string>
                cellularNumber: <string>
                faxNumber: <string>
                emailAddress: <string>
                comment: <string>
                defaultSkin: <string>
                additionalMessage: <string>
                adminNotes: <string>
                lastActiveAt: <dateTime>
                lastLockedOutAt: <dateTime>
                lastLoginAt: <dateTime>
                createdAt: <dateTime>
                expiresAt: <dateTime>
                termsandconditionsacceptedat: <dateTime>
                termsConditionsAcceptanceStatus: TermsChanged
                website: <string>
                alertsEnabled: <boolean>
                newUserNotification: <boolean>
                password: <string>
                organizationName: <string>
                isLockedOut: <boolean>
                isSuspended: <boolean>
                isApproved: <boolean>
                userType: AzureActiveDirectory
                isExternalUser: <boolean>
                roleId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  eiusmod727: {}
                  reprehenderitc1: {}
                interpolations:
                  non6: {}
                  anim0: {}
                permissions:
                - asset:assignCategory
                - lightbox:editDetails
        '400':
          description: There was a problem with the data sent with the request.
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '409':
          description: A user with same username already exists.
  /users/current:
    get:
      operationId: retrieveCurrentUser
      summary: Retrieve Current User
      description: Retrieves the user details for the current user in the request.
      tags:
      - Users
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  userName:
                    type: string
                  address:
                    type: string
                  orgUnitId:
                    type: string
                    format: uuid
                  applicationName:
                    type: string
                  defaultGroup:
                    type: string
                  userDomain:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  department:
                    type: string
                  position:
                    type: string
                  title:
                    type: string
                  officeNumber:
                    type: string
                  cellularNumber:
                    type: string
                  faxNumber:
                    type: string
                  emailAddress:
                    type: string
                  comment:
                    type: string
                  defaultSkin:
                    type: string
                  additionalMessage:
                    type: string
                  adminNotes:
                    type: string
                  lastActiveAt:
                    type: string
                    format: date-time
                  lastLockedOutAt:
                    type: string
                    format: date-time
                  lastLoginAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  expiresAt:
                    type: string
                    format: date-time
                  termsandconditionsacceptedat:
                    type: string
                    format: date-time
                  termsConditionsAcceptanceStatus:
                    type: string
                  website:
                    type: string
                  alertsEnabled:
                    type: boolean
                  newUserNotification:
                    type: boolean
                  password:
                    type: string
                  organizationName:
                    type: string
                  isLockedOut:
                    type: boolean
                  isSuspended:
                    type: boolean
                  isApproved:
                    type: boolean
                  userType:
                    type: string
                  isExternalUser:
                    type: boolean
                  roleId:
                    type: string
                    format: uuid
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      eiusmod727:
                        type: object
                      reprehenderitc1:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      non6:
                        type: object
                      anim0:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                userName: <string>
                address: <string>
                orgUnitId: <uuid>
                applicationName: <string>
                defaultGroup: <string>
                userDomain: <string>
                firstName: <string>
                lastName: <string>
                department: <string>
                position: <string>
                title: <string>
                officeNumber: <string>
                cellularNumber: <string>
                faxNumber: <string>
                emailAddress: <string>
                comment: <string>
                defaultSkin: <string>
                additionalMessage: <string>
                adminNotes: <string>
                lastActiveAt: <dateTime>
                lastLockedOutAt: <dateTime>
                lastLoginAt: <dateTime>
                createdAt: <dateTime>
                expiresAt: <dateTime>
                termsandconditionsacceptedat: <dateTime>
                termsConditionsAcceptanceStatus: TermsChanged
                website: <string>
                alertsEnabled: <boolean>
                newUserNotification: <boolean>
                password: <string>
                organizationName: <string>
                isLockedOut: <boolean>
                isSuspended: <boolean>
                isApproved: <boolean>
                userType: AzureActiveDirectory
                isExternalUser: <boolean>
                roleId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  eiusmod727: {}
                  reprehenderitc1: {}
                interpolations:
                  non6: {}
                  anim0: {}
                permissions:
                - asset:assignCategory
                - lightbox:editDetails
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
    patch:
      operationId: updateCurrentUser
      summary: Update Current User
      description: Update the current user details with a list of patch operations.
      tags:
      - Users
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  op:
                    type: string
                  path:
                    type: string
                  value:
                    type: object
                  from:
                    type: string
            example:
            - op: <string>
              path: <string>
              value: {}
              from: <string>
            - op: <string>
              path: <string>
              value: {}
              from: <string>
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  userName:
                    type: string
                  address:
                    type: string
                  orgUnitId:
                    type: string
                    format: uuid
                  applicationName:
                    type: string
                  defaultGroup:
                    type: string
                  userDomain:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  department:
                    type: string
                  position:
                    type: string
                  title:
                    type: string
                  officeNumber:
                    type: string
                  cellularNumber:
                    type: string
                  faxNumber:
                    type: string
                  emailAddress:
                    type: string
                  comment:
                    type: string
                  defaultSkin:
                    type: string
                  additionalMessage:
                    type: string
                  adminNotes:
                    type: string
                  lastActiveAt:
                    type: string
                    format: date-time
                  lastLockedOutAt:
                    type: string
                    format: date-time
                  lastLoginAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  expiresAt:
                    type: string
                    format: date-time
                  termsandconditionsacceptedat:
                    type: string
                    format: date-time
                  termsConditionsAcceptanceStatus:
                    type: string
                  website:
                    type: string
                  alertsEnabled:
                    type: boolean
                  newUserNotification:
                    type: boolean
                  password:
                    type: string
                  organizationName:
                    type: string
                  isLockedOut:
                    type: boolean
                  isSuspended:
                    type: boolean
                  isApproved:
                    type: boolean
                  userType:
                    type: string
                  isExternalUser:
                    type: boolean
                  roleId:
                    type: string
                    format: uuid
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      eiusmod727:
                        type: object
                      reprehenderitc1:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      non6:
                        type: object
                      anim0:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                userName: <string>
                address: <string>
                orgUnitId: <uuid>
                applicationName: <string>
                defaultGroup: <string>
                userDomain: <string>
                firstName: <string>
                lastName: <string>
                department: <string>
                position: <string>
                title: <string>
                officeNumber: <string>
                cellularNumber: <string>
                faxNumber: <string>
                emailAddress: <string>
                comment: <string>
                defaultSkin: <string>
                additionalMessage: <string>
                adminNotes: <string>
                lastActiveAt: <dateTime>
                lastLockedOutAt: <dateTime>
                lastLoginAt: <dateTime>
                createdAt: <dateTime>
                expiresAt: <dateTime>
                termsandconditionsacceptedat: <dateTime>
                termsConditionsAcceptanceStatus: TermsChanged
                website: <string>
                alertsEnabled: <boolean>
                newUserNotification: <boolean>
                password: <string>
                organizationName: <string>
                isLockedOut: <boolean>
                isSuspended: <boolean>
                isApproved: <boolean>
                userType: AzureActiveDirectory
                isExternalUser: <boolean>
                roleId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  eiusmod727: {}
                  reprehenderitc1: {}
                interpolations:
                  non6: {}
                  anim0: {}
                permissions:
                - asset:assignCategory
                - lightbox:editDetails
        '400':
          description: There was a problem with the data sent with the request.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The user was not found.
  /users/{userId}:
    get:
      operationId: retrieveUser
      summary: Retrieve User
      description: Retrieves the user details for a given user id.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        required: true
        description: userId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  userName:
                    type: string
                  address:
                    type: string
                  orgUnitId:
                    type: string
                    format: uuid
                  applicationName:
                    type: string
                  defaultGroup:
                    type: string
                  userDomain:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  department:
                    type: string
                  position:
                    type: string
                  title:
                    type: string
                  officeNumber:
                    type: string
                  cellularNumber:
                    type: string
                  faxNumber:
                    type: string
                  emailAddress:
                    type: string
                  comment:
                    type: string
                  defaultSkin:
                    type: string
                  additionalMessage:
                    type: string
                  adminNotes:
                    type: string
                  lastActiveAt:
                    type: string
                    format: date-time
                  lastLockedOutAt:
                    type: string
                    format: date-time
                  lastLoginAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  expiresAt:
                    type: string
                    format: date-time
                  termsandconditionsacceptedat:
                    type: string
                    format: date-time
                  termsConditionsAcceptanceStatus:
                    type: string
                  website:
                    type: string
                  alertsEnabled:
                    type: boolean
                  newUserNotification:
                    type: boolean
                  password:
                    type: string
                  organizationName:
                    type: string
                  isLockedOut:
                    type: boolean
                  isSuspended:
                    type: boolean
                  isApproved:
                    type: boolean
                  userType:
                    type: string
                  isExternalUser:
                    type: boolean
                  roleId:
                    type: string
                    format: uuid
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      eiusmod727:
                        type: object
                      reprehenderitc1:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      non6:
                        type: object
                      anim0:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                userName: <string>
                address: <string>
                orgUnitId: <uuid>
                applicationName: <string>
                defaultGroup: <string>
                userDomain: <string>
                firstName: <string>
                lastName: <string>
                department: <string>
                position: <string>
                title: <string>
                officeNumber: <string>
                cellularNumber: <string>
                faxNumber: <string>
                emailAddress: <string>
                comment: <string>
                defaultSkin: <string>
                additionalMessage: <string>
                adminNotes: <string>
                lastActiveAt: <dateTime>
                lastLockedOutAt: <dateTime>
                lastLoginAt: <dateTime>
                createdAt: <dateTime>
                expiresAt: <dateTime>
                termsandconditionsacceptedat: <dateTime>
                termsConditionsAcceptanceStatus: TermsChanged
                website: <string>
                alertsEnabled: <boolean>
                newUserNotification: <boolean>
                password: <string>
                organizationName: <string>
                isLockedOut: <boolean>
                isSuspended: <boolean>
                isApproved: <boolean>
                userType: AzureActiveDirectory
                isExternalUser: <boolean>
                roleId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  eiusmod727: {}
                  reprehenderitc1: {}
                interpolations:
                  non6: {}
                  anim0: {}
                permissions:
                - asset:assignCategory
                - lightbox:editDetails
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The user was not found.
        '500':
          description: The request failed because of a problem on the server.
    put:
      operationId: updateUser
      summary: Update User
      description: Update the user details for a given user id.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        required: true
        description: userId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                AdditionalMessage:
                  type: string
                Address:
                  type: string
                AdminNotes:
                  type: string
                CellularNumber:
                  type: string
                Comment:
                  type: string
                DefaultGroup:
                  type: string
                Department:
                  type: string
                EmailAddress:
                  type: string
                ExpiresAt:
                  type: string
                  format: date-time
                FaxNumber:
                  type: string
                FirstName:
                  type: string
                LastName:
                  type: string
                OfficeNumber:
                  type: string
                Position:
                  type: string
                Title:
                  type: string
                UserName:
                  type: string
                Website:
                  type: string
                AlertsEnabled:
                  type: boolean
                IsApproved:
                  type: boolean
                IsSuspended:
                  type: boolean
                OrganizationName:
                  type: string
                TermsAndConditionsAcceptedAt:
                  type: string
                  format: date-time
                TermsAndConditionsAcceptanceStatus:
                  type: string
            example:
              AdditionalMessage: <string>
              Address: <string>
              AdminNotes: <string>
              CellularNumber: <string>
              Comment: <string>
              DefaultGroup: <string>
              Department: <string>
              EmailAddress: <string>
              ExpiresAt: <dateTime>
              FaxNumber: <string>
              FirstName: <string>
              LastName: <string>
              OfficeNumber: <string>
              Position: <string>
              Title: <string>
              UserName: <string>
              Website: <string>
              AlertsEnabled: <boolean>
              IsApproved: <boolean>
              IsSuspended: <boolean>
              OrganizationName: <string>
              TermsAndConditionsAcceptedAt: <dateTime>
              TermsAndConditionsAcceptanceStatus: Unknown
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  userName:
                    type: string
                  address:
                    type: string
                  orgUnitId:
                    type: string
                    format: uuid
                  applicationName:
                    type: string
                  defaultGroup:
                    type: string
                  userDomain:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  department:
                    type: string
                  position:
                    type: string
                  title:
                    type: string
                  officeNumber:
                    type: string
                  cellularNumber:
                    type: string
                  faxNumber:
                    type: string
                  emailAddress:
                    type: string
                  comment:
                    type: string
                  defaultSkin:
                    type: string
                  additionalMessage:
                    type: string
                  adminNotes:
                    type: string
                  lastActiveAt:
                    type: string
                    format: date-time
                  lastLockedOutAt:
                    type: string
                    format: date-time
                  lastLoginAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  expiresAt:
                    type: string
                    format: date-time
                  termsandconditionsacceptedat:
                    type: string
                    format: date-time
                  termsConditionsAcceptanceStatus:
                    type: string
                  website:
                    type: string
                  alertsEnabled:
                    type: boolean
                  newUserNotification:
                    type: boolean
                  password:
                    type: string
                  organizationName:
                    type: string
                  isLockedOut:
                    type: boolean
                  isSuspended:
                    type: boolean
                  isApproved:
                    type: boolean
                  userType:
                    type: string
                  isExternalUser:
                    type: boolean
                  roleId:
                    type: string
                    format: uuid
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      eiusmod727:
                        type: object
                      reprehenderitc1:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      non6:
                        type: object
                      anim0:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                userName: <string>
                address: <string>
                orgUnitId: <uuid>
                applicationName: <string>
                defaultGroup: <string>
                userDomain: <string>
                firstName: <string>
                lastName: <string>
                department: <string>
                position: <string>
                title: <string>
                officeNumber: <string>
                cellularNumber: <string>
                faxNumber: <string>
                emailAddress: <string>
                comment: <string>
                defaultSkin: <string>
                additionalMessage: <string>
                adminNotes: <string>
                lastActiveAt: <dateTime>
                lastLockedOutAt: <dateTime>
                lastLoginAt: <dateTime>
                createdAt: <dateTime>
                expiresAt: <dateTime>
                termsandconditionsacceptedat: <dateTime>
                termsConditionsAcceptanceStatus: TermsChanged
                website: <string>
                alertsEnabled: <boolean>
                newUserNotification: <boolean>
                password: <string>
                organizationName: <string>
                isLockedOut: <boolean>
                isSuspended: <boolean>
                isApproved: <boolean>
                userType: AzureActiveDirectory
                isExternalUser: <boolean>
                roleId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  eiusmod727: {}
                  reprehenderitc1: {}
                interpolations:
                  non6: {}
                  anim0: {}
                permissions:
                - asset:assignCategory
                - lightbox:editDetails
        '400':
          description: There was a problem with the data sent with the request.
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The user was not found.
    delete:
      operationId: removeUser
      summary: Remove User
      description: Remove the given user id.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        required: true
        description: userId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
        '400':
          description: There was a problem with the data sent with the request.
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The user was not found.
    patch:
      operationId: updateUser2
      summary: Update User
      description: Update the user details for a given user id with a list of patch operations.
      tags:
      - Users
      parameters:
      - name: userId
        in: path
        required: true
        description: userId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  op:
                    type: string
                  path:
                    type: string
                  value:
                    type: object
                  from:
                    type: string
            example:
            - op: <string>
              path: <string>
              value: {}
              from: <string>
            - op: <string>
              path: <string>
              value: {}
              from: <string>
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  userName:
                    type: string
                  address:
                    type: string
                  orgUnitId:
                    type: string
                    format: uuid
                  applicationName:
                    type: string
                  defaultGroup:
                    type: string
                  userDomain:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  department:
                    type: string
                  position:
                    type: string
                  title:
                    type: string
                  officeNumber:
                    type: string
                  cellularNumber:
                    type: string
                  faxNumber:
                    type: string
                  emailAddress:
                    type: string
                  comment:
                    type: string
                  defaultSkin:
                    type: string
                  additionalMessage:
                    type: string
                  adminNotes:
                    type: string
                  lastActiveAt:
                    type: string
                    format: date-time
                  lastLockedOutAt:
                    type: string
                    format: date-time
                  lastLoginAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  expiresAt:
                    type: string
                    format: date-time
                  termsandconditionsacceptedat:
                    type: string
                    format: date-time
                  termsConditionsAcceptanceStatus:
                    type: string
                  website:
                    type: string
                  alertsEnabled:
                    type: boolean
                  newUserNotification:
                    type: boolean
                  password:
                    type: string
                  organizationName:
                    type: string
                  isLockedOut:
                    type: boolean
                  isSuspended:
                    type: boolean
                  isApproved:
                    type: boolean
                  userType:
                    type: string
                  isExternalUser:
                    type: boolean
                  roleId:
                    type: string
                    format: uuid
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      eiusmod727:
                        type: object
                      reprehenderitc1:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      non6:
                        type: object
                      anim0:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                userName: <string>
                address: <string>
                orgUnitId: <uuid>
                applicationName: <string>
                defaultGroup: <string>
                userDomain: <string>
                firstName: <string>
                lastName: <string>
                department: <string>
                position: <string>
                title: <string>
                officeNumber: <string>
                cellularNumber: <string>
                faxNumber: <string>
                emailAddress: <string>
                comment: <string>
                defaultSkin: <string>
                additionalMessage: <string>
                adminNotes: <string>
                lastActiveAt: <dateTime>
                lastLockedOutAt: <dateTime>
                lastLoginAt: <dateTime>
                createdAt: <dateTime>
                expiresAt: <dateTime>
                termsandconditionsacceptedat: <dateTime>
                termsConditionsAcceptanceStatus: TermsChanged
                website: <string>
                alertsEnabled: <boolean>
                newUserNotification: <boolean>
                password: <string>
                organizationName: <string>
                isLockedOut: <boolean>
                isSuspended: <boolean>
                isApproved: <boolean>
                userType: AzureActiveDirectory
                isExternalUser: <boolean>
                roleId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  eiusmod727: {}
                  reprehenderitc1: {}
                interpolations:
                  non6: {}
                  anim0: {}
                permissions:
                - asset:assignCategory
                - lightbox:editDetails
        '400':
          description: There was a problem with the data sent with the request.
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The user was not found.
  /users/approvers:
    get:
      operationId: retrieveApprovalUsers
      summary: Retrieve Approval Users
      description: Retrieves the approval users in the library.
      tags:
      - Users
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        userName:
                          type: string
                        address:
                          type: string
                        orgUnitId:
                          type: string
                          format: uuid
                        applicationName:
                          type: string
                        defaultGroup:
                          type: string
                        userDomain:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                        department:
                          type: string
                        position:
                          type: string
                        title:
                          type: string
                        officeNumber:
                          type: string
                        cellularNumber:
                          type: string
                        faxNumber:
                          type: string
                        emailAddress:
                          type: string
                        comment:
                          type: string
                        defaultSkin:
                          type: string
                        additionalMessage:
                          type: string
                        adminNotes:
                          type: string
                        lastActiveAt:
                          type: string
                          format: date-time
                        lastLockedOutAt:
                          type: string
                          format: date-time
                        lastLoginAt:
                          type: string
                          format: date-time
                        createdAt:
                          type: string
                          format: date-time
                        expiresAt:
                          type: string
                          format: date-time
                        termsandconditionsacceptedat:
                          type: string
                          format: date-time
                        termsConditionsAcceptanceStatus:
                          type: string
                        website:
                          type: string
                        alertsEnabled:
                          type: boolean
                        newUserNotification:
                          type: boolean
                        password:
                          type: string
                        organizationName:
                          type: string
                        isLockedOut:
                          type: boolean
                        isSuspended:
                          type: boolean
                        isApproved:
                          type: boolean
                        userType:
                          type: string
                        isExternalUser:
                          type: boolean
                        roleId:
                          type: string
                          format: uuid
                        _links:
                          type: object
                          properties:
                            self:
                              type: string
                            functions:
                              type: array
                              items:
                                type: string
                        translationKeys:
                          type: object
                          properties:
                            sint_8:
                              type: object
                        interpolations:
                          type: object
                          properties:
                            in_:
                              type: object
                        permissions:
                          type: array
                          items:
                            type: string
                  userCount:
                    type: integer
              example:
                users:
                - id: <uuid>
                  userName: <string>
                  address: <string>
                  orgUnitId: <uuid>
                  applicationName: <string>
                  defaultGroup: <string>
                  userDomain: <string>
                  firstName: <string>
                  lastName: <string>
                  department: <string>
                  position: <string>
                  title: <string>
                  officeNumber: <string>
                  cellularNumber: <string>
                  faxNumber: <string>
                  emailAddress: <string>
                  comment: <string>
                  defaultSkin: <string>
                  additionalMessage: <string>
                  adminNotes: <string>
                  lastActiveAt: <dateTime>
                  lastLockedOutAt: <dateTime>
                  lastLoginAt: <dateTime>
                  createdAt: <dateTime>
                  expiresAt: <dateTime>
                  termsandconditionsacceptedat: <dateTime>
                  termsConditionsAcceptanceStatus: TermsChanged
                  website: <string>
                  alertsEnabled: <boolean>
                  newUserNotification: <boolean>
                  password: <string>
                  organizationName: <string>
                  isLockedOut: <boolean>
                  isSuspended: <boolean>
                  isApproved: <boolean>
                  userType: AzureActiveDirectory
                  isExternalUser: <boolean>
                  roleId: <uuid>
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    sint_8: {}
                  interpolations:
                    in_: {}
                  permissions:
                  - lightbox:transferOwnership
                  - asset:shareAsLightbox
                - id: <uuid>
                  userName: <string>
                  address: <string>
                  orgUnitId: <uuid>
                  applicationName: <string>
                  defaultGroup: <string>
                  userDomain: <string>
                  firstName: <string>
                  lastName: <string>
                  department: <string>
                  position: <string>
                  title: <string>
                  officeNumber: <string>
                  cellularNumber: <string>
                  faxNumber: <string>
                  emailAddress: <string>
                  comment: <string>
                  defaultSkin: <string>
                  additionalMessage: <string>
                  adminNotes: <string>
                  lastActiveAt: <dateTime>
                  lastLockedOutAt: <dateTime>
                  lastLoginAt: <dateTime>
                  createdAt: <dateTime>
                  expiresAt: <dateTime>
                  termsandconditionsacceptedat: <dateTime>
                  termsConditionsAcceptanceStatus: Accepted
                  website: <string>
                  alertsEnabled: <boolean>
                  newUserNotification: <boolean>
                  password: <string>
                  organizationName: <string>
                  isLockedOut: <boolean>
                  isSuspended: <boolean>
                  isApproved: <boolean>
                  userType: AzureActiveDirectory
                  isExternalUser: <boolean>
                  roleId: <uuid>
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    minim_b: {}
                    adipisicing_4: {}
                    veniam13: {}
                  interpolations:
                    aliquip_1e: {}
                    aliquip94: {}
                  permissions:
                  - lightbox:transferOwnership
                  - brandedPortal:view
                userCount: <integer>
        '403':
          description: The user does not have permission to perform this operation.
  /users/{id}/customfields:
    get:
      operationId: retrieveCustomFieldsFromUser
      summary: Retrieve Custom Fields From User
      description: Retrieves the collection of custom fields from a given user.
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        description: id path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    label:
                      type: string
                    value:
                      type: object
                    sequence:
                      type: integer
              example:
              - id: <uuid>
                label: <string>
                value: {}
                sequence: <integer>
              - id: <uuid>
                label: <string>
                value: {}
                sequence: <integer>
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
  /users/registrationfields:
    get:
      operationId: retrieveCustomFieldsFromLibrary
      summary: Retrieve Custom Fields From Library
      description: Retrieves all custom fields from current user's library.
      tags:
      - Users
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
    post:
      operationId: createCustomFields
      summary: Create Custom Fields
      description: Creates custom fields in the current library.
      tags:
      - Users
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                TermsConditionsAcceptanceStatus:
                  type: string
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      fieldId:
                        type: string
                        format: uuid
                      value:
                        type: object
            example:
              TermsConditionsAcceptanceStatus: <string>
              Fields:
              - fieldId: <uuid>
                value: {}
              - fieldId: <uuid>
                value: {}
      responses:
        '200':
          description: Request was successful.
        '400':
          description: There was a problem with the data sent with the request.
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '409':
          description: A user with same username already exists.
  /users/current/permissions:
    get:
      operationId: retrieveCurrentUserPermissions
      summary: Retrieve Current User Permissions
      description: Retrieves the user permission for the current user in the request.
      tags:
      - Users
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  userName:
                    type: string
                  address:
                    type: string
                  orgUnitId:
                    type: string
                    format: uuid
                  applicationName:
                    type: string
                  defaultGroup:
                    type: string
                  userDomain:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  department:
                    type: string
                  position:
                    type: string
                  title:
                    type: string
                  officeNumber:
                    type: string
                  cellularNumber:
                    type: string
                  faxNumber:
                    type: string
                  emailAddress:
                    type: string
                  comment:
                    type: string
                  defaultSkin:
                    type: string
                  additionalMessage:
                    type: string
                  adminNotes:
                    type: string
                  lastActiveAt:
                    type: string
                    format: date-time
                  lastLockedOutAt:
                    type: string
                    format: date-time
                  lastLoginAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  expiresAt:
                    type: string
                    format: date-time
                  termsandconditionsacceptedat:
                    type: string
                    format: date-time
                  termsConditionsAcceptanceStatus:
                    type: string
                  website:
                    type: string
                  alertsEnabled:
                    type: boolean
                  newUserNotification:
                    type: boolean
                  password:
                    type: string
                  organizationName:
                    type: string
                  isLockedOut:
                    type: boolean
                  isSuspended:
                    type: boolean
                  isApproved:
                    type: boolean
                  userType:
                    type: string
                  isExternalUser:
                    type: boolean
                  roleId:
                    type: string
                    format: uuid
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      eiusmod727:
                        type: object
                      reprehenderitc1:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      non6:
                        type: object
                      anim0:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                userName: <string>
                address: <string>
                orgUnitId: <uuid>
                applicationName: <string>
                defaultGroup: <string>
                userDomain: <string>
                firstName: <string>
                lastName: <string>
                department: <string>
                position: <string>
                title: <string>
                officeNumber: <string>
                cellularNumber: <string>
                faxNumber: <string>
                emailAddress: <string>
                comment: <string>
                defaultSkin: <string>
                additionalMessage: <string>
                adminNotes: <string>
                lastActiveAt: <dateTime>
                lastLockedOutAt: <dateTime>
                lastLoginAt: <dateTime>
                createdAt: <dateTime>
                expiresAt: <dateTime>
                termsandconditionsacceptedat: <dateTime>
                termsConditionsAcceptanceStatus: TermsChanged
                website: <string>
                alertsEnabled: <boolean>
                newUserNotification: <boolean>
                password: <string>
                organizationName: <string>
                isLockedOut: <boolean>
                isSuspended: <boolean>
                isApproved: <boolean>
                userType: AzureActiveDirectory
                isExternalUser: <boolean>
                roleId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  eiusmod727: {}
                  reprehenderitc1: {}
                interpolations:
                  non6: {}
                  anim0: {}
                permissions:
                - asset:assignCategory
                - lightbox:editDetails
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
  /public/{domainName}/users/registrationfields:
    get:
      operationId: retrievePublicCustomFields
      summary: Retrieve Public Custom Fields
      description: Retrieves the public custom fields for a given domain name.
      tags:
      - Users
      parameters:
      - name: domainName
        in: path
        required: true
        description: domainName path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
    post:
      operationId: createCustomFields2
      summary: Create Custom Fields
      description: Creates custom fields for a given domain name.
      tags:
      - Users
      parameters:
      - name: domainName
        in: path
        required: true
        description: domainName path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                TermsConditionsAcceptanceStatus:
                  type: string
                Fields:
                  type: array
                  items:
                    type: object
                    properties:
                      fieldId:
                        type: string
                        format: uuid
                      value:
                        type: object
            example:
              TermsConditionsAcceptanceStatus: <string>
              Fields:
              - fieldId: <uuid>
                value: {}
              - fieldId: <uuid>
                value: {}
      responses:
        '200':
          description: Request was successful.
        '400':
          description: There was a problem with the data sent with the request.
        '409':
          description: A user with same username already exists.
        '429':
          description: Too many requests from the same IP to register an user to the same library, max
            of 15 requester per minute.
  /public/{domainName}/users:
    post:
      operationId: createUser2
      summary: Create User
      description: Creates a a new user for a given domain name.
      tags:
      - Users
      parameters:
      - name: domainName
        in: path
        required: true
        description: domainName path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                AdditionalMessage:
                  type: string
                Address:
                  type: string
                AdminNotes:
                  type: string
                CellularNumber:
                  type: string
                Comment:
                  type: string
                DefaultGroup:
                  type: string
                Department:
                  type: string
                EmailAddress:
                  type: string
                ExpiresAt:
                  type: string
                  format: date-time
                FaxNumber:
                  type: string
                FirstName:
                  type: string
                IsApproved:
                  type: boolean
                LastName:
                  type: string
                OfficeNumber:
                  type: string
                PasswordInformation:
                  type: object
                  properties:
                    Password:
                      type: string
                    PasswordSalt:
                      type: string
                    RecoveryQuestion:
                      type: string
                    RecoveryAnswer:
                      type: string
                    FailedLoginAttemptWindowsStart:
                      type: string
                      format: date-time
                    FailedAnswerAttemptWindowsStart:
                      type: string
                      format: date-time
                    LastChangedAt:
                      type: string
                      format: date-time
                    PasswordStatus:
                      type: string
                    PasswordFormat:
                      type: string
                    ConsecutiveFailedLoginAttempts:
                      type: integer
                    FailedLoginAttemptWindowStart:
                      type: string
                      format: date-time
                    ConsecutiveFailedAnswerAttempts:
                      type: integer
                    FailedAnswerAttemptsWindowStart:
                      type: string
                      format: date-time
                    MustChangePassword:
                      type: boolean
                Position:
                  type: string
                Title:
                  type: string
                UserName:
                  type: string
                Website:
                  type: string
                AlertsEnabled:
                  type: boolean
                NewUserNotification:
                  type: boolean
                OrganizationName:
                  type: string
                TermsAndConditionsAcceptedAt:
                  type: string
                  format: date-time
                TermsAndConditionsAccepted:
                  type: boolean
                TermsConditionsAcceptanceStatus:
                  type: string
            example:
              AdditionalMessage: <string>
              Address: <string>
              AdminNotes: <string>
              CellularNumber: <string>
              Comment: <string>
              DefaultGroup: <string>
              Department: <string>
              EmailAddress: <string>
              ExpiresAt: <dateTime>
              FaxNumber: <string>
              FirstName: <string>
              IsApproved: <boolean>
              LastName: <string>
              OfficeNumber: <string>
              PasswordInformation:
                Password: <string>
                PasswordSalt: <string>
                RecoveryQuestion: <string>
                RecoveryAnswer: <string>
                FailedLoginAttemptWindowsStart: <dateTime>
                FailedAnswerAttemptWindowsStart: <dateTime>
                LastChangedAt: <dateTime>
                PasswordStatus: Unknown
                PasswordFormat: Clear
                ConsecutiveFailedLoginAttempts: <integer>
                FailedLoginAttemptWindowStart: <dateTime>
                ConsecutiveFailedAnswerAttempts: <integer>
                FailedAnswerAttemptsWindowStart: <dateTime>
                MustChangePassword: <boolean>
              Position: <string>
              Title: <string>
              UserName: <string>
              Website: <string>
              AlertsEnabled: <boolean>
              NewUserNotification: <boolean>
              OrganizationName: <string>
              TermsAndConditionsAcceptedAt: <dateTime>
              TermsAndConditionsAccepted: <boolean>
              TermsConditionsAcceptanceStatus: Accepted
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  userName:
                    type: string
                  address:
                    type: string
                  orgUnitId:
                    type: string
                    format: uuid
                  applicationName:
                    type: string
                  defaultGroup:
                    type: string
                  userDomain:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  department:
                    type: string
                  position:
                    type: string
                  title:
                    type: string
                  officeNumber:
                    type: string
                  cellularNumber:
                    type: string
                  faxNumber:
                    type: string
                  emailAddress:
                    type: string
                  comment:
                    type: string
                  defaultSkin:
                    type: string
                  additionalMessage:
                    type: string
                  adminNotes:
                    type: string
                  lastActiveAt:
                    type: string
                    format: date-time
                  lastLockedOutAt:
                    type: string
                    format: date-time
                  lastLoginAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  expiresAt:
                    type: string
                    format: date-time
                  termsandconditionsacceptedat:
                    type: string
                    format: date-time
                  termsConditionsAcceptanceStatus:
                    type: string
                  website:
                    type: string
                  alertsEnabled:
                    type: boolean
                  newUserNotification:
                    type: boolean
                  password:
                    type: string
                  organizationName:
                    type: string
                  isLockedOut:
                    type: boolean
                  isSuspended:
                    type: boolean
                  isApproved:
                    type: boolean
                  userType:
                    type: string
                  isExternalUser:
                    type: boolean
                  roleId:
                    type: string
                    format: uuid
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      eiusmod727:
                        type: object
                      reprehenderitc1:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      non6:
                        type: object
                      anim0:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                userName: <string>
                address: <string>
                orgUnitId: <uuid>
                applicationName: <string>
                defaultGroup: <string>
                userDomain: <string>
                firstName: <string>
                lastName: <string>
                department: <string>
                position: <string>
                title: <string>
                officeNumber: <string>
                cellularNumber: <string>
                faxNumber: <string>
                emailAddress: <string>
                comment: <string>
                defaultSkin: <string>
                additionalMessage: <string>
                adminNotes: <string>
                lastActiveAt: <dateTime>
                lastLockedOutAt: <dateTime>
                lastLoginAt: <dateTime>
                createdAt: <dateTime>
                expiresAt: <dateTime>
                termsandconditionsacceptedat: <dateTime>
                termsConditionsAcceptanceStatus: TermsChanged
                website: <string>
                alertsEnabled: <boolean>
                newUserNotification: <boolean>
                password: <string>
                organizationName: <string>
                isLockedOut: <boolean>
                isSuspended: <boolean>
                isApproved: <boolean>
                userType: AzureActiveDirectory
                isExternalUser: <boolean>
                roleId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  eiusmod727: {}
                  reprehenderitc1: {}
                interpolations:
                  non6: {}
                  anim0: {}
                permissions:
                - asset:assignCategory
                - lightbox:editDetails
        '400':
          description: There was a problem with the data sent with the request.
        '409':
          description: A user with same username already exists.
  /public/users/recoverpassword:
    post:
      operationId: recoverPassword
      summary: Recover Password
      description: Recovers the user password for a given username.
      tags:
      - Users
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Request was successful.
        '400':
          description: There was a problem with the data sent with the request.
        '404':
          description: The user was not found.
        '412':
          description: Pre condition failed.
  /public/users/recoverpassword/{token}:
    post:
      operationId: recoverPassword2
      summary: Recover Password
      description: Defines a new user password.
      tags:
      - Users
      parameters:
      - name: token
        in: path
        required: true
        description: token path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: false
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: Request was successful.
        '400':
          description: There was a problem with the data sent with the request.
        '404':
          description: The user was not found.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 / OpenID Connect issued by https://iam.mediavalet.com via https://login.mediavalet.com.
        Send the access token as a Bearer Authorization header.
      flows:
        authorizationCode:
          authorizationUrl: https://login.mediavalet.com/connect/authorize
          tokenUrl: https://login.mediavalet.com/connect/token
          refreshUrl: https://login.mediavalet.com/connect/token
          scopes:
            openid: OpenID Connect identity
            profile: User profile claims
            api: Access the MediaValet API
            api:service_principal: Service-principal (machine) access to the MediaValet API
            iam.admin: Administer MediaValet identity and access management
            iam.provisioning: Provision users and organizations
            offline_access: Obtain a refresh token
        clientCredentials:
          tokenUrl: https://login.mediavalet.com/connect/token
          scopes:
            api: Access the MediaValet API
            api:service_principal: Service-principal (machine) access to the MediaValet API
        password:
          tokenUrl: https://login.mediavalet.com/connect/token
          scopes:
            openid: OpenID Connect identity
            api: Access the MediaValet API
            offline_access: Obtain a refresh token
    subscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: Per-account API subscription key issued through the MediaValet Developer Portal (Azure
        API Management).
