openapi: 3.2.0
info:
  title: MediaValet Branded Portals API
  description: 'The MediaValet API is a RESTful, JSON, hypermedia-driven service that supplies data to clients consuming the MediaValet cloud digital asset management (DAM) platform. The service applies business rules, permission rules, and other data processing to standardize what is returned. Requests go to the API gateway at https://api.mediavalet.com and must carry two credentials: an OAuth 2.0 / OpenID Connect Bearer access token issued by https://login.mediavalet.com/connect/token, and a per-account subscription key in the Ocp-Apim-Subscription-Key header. Requests also carry an x-mv-api-version header to select the API version. Access requires a MediaValet subscription and registration in the MediaValet Developer Portal at https://developer.mediavalet.com.


    PROVENANCE: this definition is derived operation-for-operation from MediaValet''s own published Postman collection ("MediaValet API", collection 55cc404f-b818-43ba-87c2-1a07f2a47bd9) served at https://docs.mediavalet.com/api/collections/15676803/TzRUB7XE. Paths, methods, parameters, request bodies, response status codes and examples come from that collection. Schemas are inferred from the collection''s request/response example payloads and are indicative rather than authoritative.'
  version: '1.0'
  contact:
    name: MediaValet
    url: https://developer.mediavalet.com
  termsOfService: https://www.mediavalet.com/terms-of-service
servers:
- url: https://api.mediavalet.com
  description: MediaValet API gateway (public)
security:
- oauth2:
  - api
  subscriptionKey: []
tags:
- name: BrandedPortals
  description: Branded Portals — externally shareable, branded views onto a subset of the library.
paths:
  /brandedportals:
    get:
      operationId: retrieveBrandedPortals
      summary: Retrieve Branded Portals
      description: Returns branded portals.
      tags:
      - BrandedPortals
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    name:
                      type: string
                    publicLiveUrl:
                      type: string
                    status:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
                    draftModifiedAt:
                      type: string
                      format: date-time
                    lastModifiedBy:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        username:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                    hasUnpublishedChanges:
                      type: boolean
                    pageViews:
                      type: integer
                    downloads:
                      type: string
                    sharedBy:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        username:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                    viewAccessGroupCount:
                      type: integer
                    _links:
                      type: object
                      properties:
                        self:
                          type: string
                        functions:
                          type: array
                          items:
                            type: string
                    translationKeys:
                      type: object
                      properties:
                        cillum_ec_:
                          type: object
                        sunt_:
                          type: object
                        temporee:
                          type: object
                    interpolations:
                      type: object
                      properties:
                        quis_f:
                          type: object
                    permissions:
                      type: array
                      items:
                        type: string
              example:
              - id: <uuid>
                name: <string>
                publicLiveUrl: <string>
                status: Draft
                createdAt: <dateTime>
                draftModifiedAt: <dateTime>
                lastModifiedBy:
                  id: <uuid>
                  username: <string>
                  firstName: <string>
                  lastName: <string>
                hasUnpublishedChanges: <boolean>
                pageViews: <integer>
                downloads: <string>
                sharedBy:
                  id: <uuid>
                  username: <string>
                  firstName: <string>
                  lastName: <string>
                viewAccessGroupCount: <integer>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  cillum_ec_: {}
                  sunt_: {}
                  temporee: {}
                interpolations:
                  quis_f: {}
                permissions:
                - lightbox:viewAsset
                - brandedPortal:view
              - id: <uuid>
                name: <string>
                publicLiveUrl: <string>
                status: Unknown
                createdAt: <dateTime>
                draftModifiedAt: <dateTime>
                lastModifiedBy:
                  id: <uuid>
                  username: <string>
                  firstName: <string>
                  lastName: <string>
                hasUnpublishedChanges: <boolean>
                pageViews: <integer>
                downloads: <string>
                sharedBy:
                  id: <uuid>
                  username: <string>
                  firstName: <string>
                  lastName: <string>
                viewAccessGroupCount: <integer>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  ea_: {}
                interpolations:
                  do_1_: {}
                  veniam3ed: {}
                  veniam__: {}
                permissions:
                - asset:downloadFromPortal
                - None
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
    post:
      operationId: createBrandedPortal
      summary: Create Branded Portal
      description: Creates a branded portal.
      tags:
      - BrandedPortals
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                host:
                  type: string
                path:
                  type: string
                pageLayout:
                  type: string
                language:
                  type: string
            example:
              id: <uuid>
              name: <string>
              host: <string>
              path: <string>
              pageLayout: <string>
              language: FR
      responses:
        '201':
          description: The branded portal was successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  liveVersion:
                    type: string
                    format: uuid
                  draftVersion:
                    type: string
                    format: uuid
                  name:
                    type: string
                  status:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
                  host:
                    type: string
                  path:
                    type: string
                  liveHost:
                    type: string
                  livePath:
                    type: string
                  pageLayout:
                    type: string
                  lastPublishedAt:
                    type: string
                    format: date-time
                  draftModifiedAt:
                    type: string
                    format: date-time
                  lastModifiedBy:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      username:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                  downloadSettings:
                    type: object
                    properties:
                      allowDownloads:
                        type: boolean
                  navigationSettings:
                    type: object
                    properties:
                      showNavigation:
                        type: boolean
                  searchSettings:
                    type: object
                    properties:
                      allowSearch:
                        type: boolean
                  restrictAccessSettings:
                    type: object
                    properties:
                      requireAccessKey:
                        type: boolean
                      accessKey:
                        type: string
                  highlightColourSettings:
                    type: object
                    properties:
                      highlightColour:
                        type: string
                  languageSettings:
                    type: object
                    properties:
                      language:
                        type: string
                      brandedPortalMultiLanguageLinks:
                        type: array
                        items:
                          type: object
                          properties:
                            language:
                              type: string
                            url:
                              type: string
                  skinColors:
                    type: object
                    properties:
                      backgroundAssetCardColor:
                        type: string
                      backgroundAssetCardHeaderColor:
                        type: string
                      backgroundHeaderColor:
                        type: string
                      backgroundMainColor:
                        type: string
                      backgroundPageColor:
                        type: string
                      backgroundReviewActionsColor:
                        type: string
                      buttonColor:
                        type: string
                      buttonInactiveColor:
                        type: string
                      highlightColor:
                        type: string
                      lineColor:
                        type: string
                      overlayColor:
                        type: string
                      tableOddRowColor:
                        type: string
                      textColor:
                        type: string
                      textHighlightColor:
                        type: string
                      textInactiveColor:
                        type: string
                      treeFolderColor:
                        type: string
                      textTreeColor:
                        type: string
                      backgroundTableHeaderColor:
                        type: string
                      backgroundModalHeaderColor:
                        type: string
                      focusOutlineColor:
                        type: string
                  defaultLogoFilePath:
                    type: string
                  pageViews:
                    type: integer
                  downloads:
                    type: string
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      consequatcc9:
                        type: object
                      occaecat_40e:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      cupidatat_b35:
                        type: object
                      minim_6:
                        type: object
                      ad8:
                        type: object
                      sed_66d:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                liveVersion: <uuid>
                draftVersion: <uuid>
                name: <string>
                status: Disabled
                createdAt: <dateTime>
                host: <string>
                path: <string>
                liveHost: <string>
                livePath: <string>
                pageLayout: <string>
                lastPublishedAt: <dateTime>
                draftModifiedAt: <dateTime>
                lastModifiedBy:
                  id: <uuid>
                  username: <string>
                  firstName: <string>
                  lastName: <string>
                downloadSettings:
                  allowDownloads: <boolean>
                navigationSettings:
                  showNavigation: <boolean>
                searchSettings:
                  allowSearch: <boolean>
                restrictAccessSettings:
                  requireAccessKey: <boolean>
                  accessKey: <string>
                highlightColourSettings:
                  highlightColour: <string>
                languageSettings:
                  language: FR
                  brandedPortalMultiLanguageLinks:
                  - language: FR
                    url: <string>
                  - language: EN
                    url: <string>
                skinColors:
                  backgroundAssetCardColor: <string>
                  backgroundAssetCardHeaderColor: <string>
                  backgroundHeaderColor: <string>
                  backgroundMainColor: <string>
                  backgroundPageColor: <string>
                  backgroundReviewActionsColor: <string>
                  buttonColor: <string>
                  buttonInactiveColor: <string>
                  highlightColor: <string>
                  lineColor: <string>
                  overlayColor: <string>
                  tableOddRowColor: <string>
                  textColor: <string>
                  textHighlightColor: <string>
                  textInactiveColor: <string>
                  treeFolderColor: <string>
                  textTreeColor: <string>
                  backgroundTableHeaderColor: <string>
                  backgroundModalHeaderColor: <string>
                  focusOutlineColor: <string>
                defaultLogoFilePath: <string>
                pageViews: <integer>
                downloads: <string>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  consequatcc9: {}
                  occaecat_40e: {}
                interpolations:
                  cupidatat_b35: {}
                  minim_6: {}
                  ad8: {}
                  sed_66d: {}
                permissions:
                - user:editEmail
                - asset:shareAsLightbox
        '400':
          description: There was a problem with the data sent with the request.
        '403':
          description: The user does not have permission to perform this operation.
        '409':
          description: Conflict has occurred. Either duplicate name or url.
        '500':
          description: The request failed because of a problem on the server.
  /brandedportals/assets:
    get:
      operationId: searchBrandedPortalAssets
      summary: Search Branded Portal Assets
      description: Returns assets form a search results in a branded portal.
      tags:
      - BrandedPortals
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assetCount:
                    type: integer
                  assets:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        title:
                          type: string
                        media:
                          type: object
                          properties:
                            type:
                              type: string
                            small:
                              type: string
                            thumb:
                              type: string
                            large:
                              type: string
                            medium:
                              type: string
                            download:
                              type: string
                            preview:
                              type: string
                            downloadRequest:
                              type: string
                            stream:
                              type: string
                            streamingManifest:
                              type: string
                            sasExpiry:
                              type: integer
                            sasRenewal:
                              type: integer
                            renditionItemCount:
                              type: integer
                            autodeskUrn:
                              type: string
                        file:
                          type: object
                          properties:
                            title:
                              type: string
                            fileName:
                              type: string
                            fileType:
                              type: string
                        visible:
                          type: boolean
                        brandedPortalVersionSections:
                          type: object
                          properties:
                            occaecatc:
                              type: array
                              items:
                                type: string
                        permissions:
                          type: object
                          properties:
                            all:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
              example:
                assetCount: <long>
                assets:
                - id: <uuid>
                  title: <string>
                  media:
                    type: <string>
                    small: <string>
                    thumb: <string>
                    large: <string>
                    medium: <string>
                    download: <string>
                    preview: <string>
                    downloadRequest: <string>
                    stream: <string>
                    streamingManifest: <string>
                    sasExpiry: <long>
                    sasRenewal: <long>
                    renditionItemCount: <long>
                    autodeskUrn: <string>
                  file:
                    title: <string>
                    fileName: <string>
                    fileType: <string>
                  visible: <boolean>
                  brandedPortalVersionSections:
                    occaecatc:
                    - <string>
                    - <string>
                  permissions:
                    all:
                    - name: <string>
                    - name: <string>
                - id: <uuid>
                  title: <string>
                  media:
                    type: <string>
                    small: <string>
                    thumb: <string>
                    large: <string>
                    medium: <string>
                    download: <string>
                    preview: <string>
                    downloadRequest: <string>
                    stream: <string>
                    streamingManifest: <string>
                    sasExpiry: <long>
                    sasRenewal: <long>
                    renditionItemCount: <long>
                    autodeskUrn: <string>
                  file:
                    title: <string>
                    fileName: <string>
                    fileType: <string>
                  visible: <boolean>
                  brandedPortalVersionSections:
                    occaecat3:
                    - <string>
                    - <string>
                    proident__:
                    - <string>
                    - <string>
                  permissions:
                    all:
                    - name: <string>
                    - name: <string>
        '400':
          description: There was a problem with the data sent with the request.
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
  /brandedportals/{brandedPortalId}:
    get:
      operationId: retrieveBrandedPortal
      summary: Retrieve Branded Portal
      description: Returns a branded portal by branded portal id.
      tags:
      - BrandedPortals
      parameters:
      - name: brandedPortalId
        in: path
        required: true
        description: brandedPortalId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  liveVersion:
                    type: string
                    format: uuid
                  draftVersion:
                    type: string
                    format: uuid
                  name:
                    type: string
                  status:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
                  host:
                    type: string
                  path:
                    type: string
                  liveHost:
                    type: string
                  livePath:
                    type: string
                  pageLayout:
                    type: string
                  lastPublishedAt:
                    type: string
                    format: date-time
                  draftModifiedAt:
                    type: string
                    format: date-time
                  lastModifiedBy:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      username:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                  downloadSettings:
                    type: object
                    properties:
                      allowDownloads:
                        type: boolean
                  navigationSettings:
                    type: object
                    properties:
                      showNavigation:
                        type: boolean
                  searchSettings:
                    type: object
                    properties:
                      allowSearch:
                        type: boolean
                  restrictAccessSettings:
                    type: object
                    properties:
                      requireAccessKey:
                        type: boolean
                      accessKey:
                        type: string
                  highlightColourSettings:
                    type: object
                    properties:
                      highlightColour:
                        type: string
                  languageSettings:
                    type: object
                    properties:
                      language:
                        type: string
                      brandedPortalMultiLanguageLinks:
                        type: array
                        items:
                          type: object
                          properties:
                            language:
                              type: string
                            url:
                              type: string
                  skinColors:
                    type: object
                    properties:
                      backgroundAssetCardColor:
                        type: string
                      backgroundAssetCardHeaderColor:
                        type: string
                      backgroundHeaderColor:
                        type: string
                      backgroundMainColor:
                        type: string
                      backgroundPageColor:
                        type: string
                      backgroundReviewActionsColor:
                        type: string
                      buttonColor:
                        type: string
                      buttonInactiveColor:
                        type: string
                      highlightColor:
                        type: string
                      lineColor:
                        type: string
                      overlayColor:
                        type: string
                      tableOddRowColor:
                        type: string
                      textColor:
                        type: string
                      textHighlightColor:
                        type: string
                      textInactiveColor:
                        type: string
                      treeFolderColor:
                        type: string
                      textTreeColor:
                        type: string
                      backgroundTableHeaderColor:
                        type: string
                      backgroundModalHeaderColor:
                        type: string
                      focusOutlineColor:
                        type: string
                  defaultLogoFilePath:
                    type: string
                  pageViews:
                    type: integer
                  downloads:
                    type: string
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      consequatcc9:
                        type: object
                      occaecat_40e:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      cupidatat_b35:
                        type: object
                      minim_6:
                        type: object
                      ad8:
                        type: object
                      sed_66d:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                liveVersion: <uuid>
                draftVersion: <uuid>
                name: <string>
                status: Disabled
                createdAt: <dateTime>
                host: <string>
                path: <string>
                liveHost: <string>
                livePath: <string>
                pageLayout: <string>
                lastPublishedAt: <dateTime>
                draftModifiedAt: <dateTime>
                lastModifiedBy:
                  id: <uuid>
                  username: <string>
                  firstName: <string>
                  lastName: <string>
                downloadSettings:
                  allowDownloads: <boolean>
                navigationSettings:
                  showNavigation: <boolean>
                searchSettings:
                  allowSearch: <boolean>
                restrictAccessSettings:
                  requireAccessKey: <boolean>
                  accessKey: <string>
                highlightColourSettings:
                  highlightColour: <string>
                languageSettings:
                  language: FR
                  brandedPortalMultiLanguageLinks:
                  - language: FR
                    url: <string>
                  - language: EN
                    url: <string>
                skinColors:
                  backgroundAssetCardColor: <string>
                  backgroundAssetCardHeaderColor: <string>
                  backgroundHeaderColor: <string>
                  backgroundMainColor: <string>
                  backgroundPageColor: <string>
                  backgroundReviewActionsColor: <string>
                  buttonColor: <string>
                  buttonInactiveColor: <string>
                  highlightColor: <string>
                  lineColor: <string>
                  overlayColor: <string>
                  tableOddRowColor: <string>
                  textColor: <string>
                  textHighlightColor: <string>
                  textInactiveColor: <string>
                  treeFolderColor: <string>
                  textTreeColor: <string>
                  backgroundTableHeaderColor: <string>
                  backgroundModalHeaderColor: <string>
                  focusOutlineColor: <string>
                defaultLogoFilePath: <string>
                pageViews: <integer>
                downloads: <string>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  consequatcc9: {}
                  occaecat_40e: {}
                interpolations:
                  cupidatat_b35: {}
                  minim_6: {}
                  ad8: {}
                  sed_66d: {}
                permissions:
                - user:editEmail
                - asset:shareAsLightbox
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: A branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
    delete:
      operationId: removeBrandedPortal
      summary: Remove Branded Portal
      description: Remove a branded portal by branded portal id.
      tags:
      - BrandedPortals
      parameters:
      - name: brandedPortalId
        in: path
        required: true
        description: brandedPortalId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '204':
          description: No Content, Request was successful Response is null.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The branded portal was not found by the branded portal id given.
        '500':
          description: The request failed because of a problem on the server.
  /public/brandedportals/{host}/{path}:
    get:
      operationId: retrieveLiveBrandedPortal
      summary: Retrieve Live Branded Portal
      description: Returns a live branded portal.
      tags:
      - BrandedPortals
      parameters:
      - name: host
        in: path
        required: true
        description: host path parameter.
        schema:
          type: string
      - name: path
        in: path
        required: true
        description: path path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  libraryId:
                    type: string
                    format: uuid
                  version:
                    type: string
                    format: uuid
                  libraryName:
                    type: string
                  host:
                    type: string
                  path:
                    type: string
                  pageLayout:
                    type: string
                  navigationSettings:
                    type: object
                    properties:
                      showNavigation:
                        type: boolean
                  searchSettings:
                    type: object
                    properties:
                      allowSearch:
                        type: boolean
                  downloadSettings:
                    type: object
                    properties:
                      allowDownloads:
                        type: boolean
                  highlightColourSettings:
                    type: object
                    properties:
                      highlightColour:
                        type: string
                  languageSettings:
                    type: object
                    properties:
                      language:
                        type: string
                      brandedPortalMultiLanguageLinks:
                        type: array
                        items:
                          type: object
                          properties:
                            language:
                              type: string
                            url:
                              type: string
                  lastPublishedAt:
                    type: string
                    format: date-time
                  defaultLogoFilePath:
                    type: string
                  skinColors:
                    type: object
                    properties:
                      backgroundAssetCardColor:
                        type: string
                      backgroundAssetCardHeaderColor:
                        type: string
                      backgroundHeaderColor:
                        type: string
                      backgroundMainColor:
                        type: string
                      backgroundPageColor:
                        type: string
                      backgroundReviewActionsColor:
                        type: string
                      buttonColor:
                        type: string
                      buttonInactiveColor:
                        type: string
                      highlightColor:
                        type: string
                      lineColor:
                        type: string
                      overlayColor:
                        type: string
                      tableOddRowColor:
                        type: string
                      textColor:
                        type: string
                      textHighlightColor:
                        type: string
                      textInactiveColor:
                        type: string
                      treeFolderColor:
                        type: string
                      textTreeColor:
                        type: string
                      backgroundTableHeaderColor:
                        type: string
                      backgroundModalHeaderColor:
                        type: string
                      focusOutlineColor:
                        type: string
              example:
                id: <uuid>
                libraryId: <uuid>
                version: <uuid>
                libraryName: <string>
                host: <string>
                path: <string>
                pageLayout: <string>
                navigationSettings:
                  showNavigation: <boolean>
                searchSettings:
                  allowSearch: <boolean>
                downloadSettings:
                  allowDownloads: <boolean>
                highlightColourSettings:
                  highlightColour: <string>
                languageSettings:
                  language: EN
                  brandedPortalMultiLanguageLinks:
                  - language: FR
                    url: <string>
                  - language: FR
                    url: <string>
                lastPublishedAt: <dateTime>
                defaultLogoFilePath: <string>
                skinColors:
                  backgroundAssetCardColor: <string>
                  backgroundAssetCardHeaderColor: <string>
                  backgroundHeaderColor: <string>
                  backgroundMainColor: <string>
                  backgroundPageColor: <string>
                  backgroundReviewActionsColor: <string>
                  buttonColor: <string>
                  buttonInactiveColor: <string>
                  highlightColor: <string>
                  lineColor: <string>
                  overlayColor: <string>
                  tableOddRowColor: <string>
                  textColor: <string>
                  textHighlightColor: <string>
                  textInactiveColor: <string>
                  treeFolderColor: <string>
                  textTreeColor: <string>
                  backgroundTableHeaderColor: <string>
                  backgroundModalHeaderColor: <string>
                  focusOutlineColor: <string>
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
  /brandedportals/{brandedPortalId}/policies:
    get:
      operationId: getAllPoliciesOfABrandedportals
      summary: Get all policies of a brandedportals
      description: Only user with Manage Branded Portal permissions can get policies.
      tags:
      - BrandedPortals
      parameters:
      - name: brandedPortalId
        in: path
        required: true
        description: brandedPortalId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiVersion:
                    type: string
                  buildVersion:
                    type: string
                  warnings:
                    type: array
                    items:
                      type: string
                  errors:
                    type: array
                    items:
                      type: string
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        policyId:
                          type: integer
                        subject:
                          type: object
                          properties:
                            subjectId:
                              type: string
                              format: uuid
                            subjectType:
                              type: string
                            _links:
                              type: object
                              properties:
                                self:
                                  type: string
                                functions:
                                  type: array
                                  items:
                                    type: string
                            translationKeys:
                              type: object
                              properties:
                                ut66:
                                  type: object
                                ut_61f:
                                  type: object
                                non_d_d:
                                  type: object
                            interpolations:
                              type: object
                              properties:
                                laborum_93:
                                  type: object
                            permissions:
                              type: array
                              items:
                                type: string
                        resource:
                          type: object
                          properties:
                            resourceId:
                              type: string
                              format: uuid
                            resourceType:
                              type: string
                            predicate:
                              type: object
                              properties:
                                predicateType:
                                  type: string
                                predicateId:
                                  type: string
                                  format: uuid
                                predicateValues:
                                  type: string
                                _links:
                                  type: object
                                  properties:
                                    self:
                                      type: string
                                    functions:
                                      type: array
                                      items:
                                        type: string
                                translationKeys:
                                  type: object
                                  properties:
                                    amet3:
                                      type: object
                                interpolations:
                                  type: object
                                  properties:
                                    in387:
                                      type: object
                                permissions:
                                  type: array
                                  items:
                                    type: string
                            inherited:
                              type: boolean
                            _links:
                              type: object
                              properties:
                                self:
                                  type: string
                                functions:
                                  type: array
                                  items:
                                    type: string
                            translationKeys:
                              type: object
                              properties:
                                veniam0:
                                  type: object
                                velit_4_2:
                                  type: object
                                occaecat_9:
                                  type: object
                            interpolations:
                              type: object
                              properties:
                                sintb5c:
                                  type: object
                                commodo2:
                                  type: object
                            permissions:
                              type: array
                              items:
                                type: string
                        grant:
                          type: object
                          properties:
                            grantType:
                              type: string
                            grantName:
                              type: string
                            allowed:
                              type: boolean
                            _links:
                              type: object
                              properties:
                                self:
                                  type: string
                                functions:
                                  type: array
                                  items:
                                    type: string
                            translationKeys:
                              type: object
                              properties:
                                ad_c:
                                  type: object
                            interpolations:
                              type: object
                              properties:
                                laboris_0_1:
                                  type: object
                                Ut_6c8:
                                  type: object
                                aute02:
                                  type: object
                            permissions:
                              type: array
                              items:
                                type: string
                        _links:
                          type: object
                          properties:
                            self:
                              type: string
                            functions:
                              type: array
                              items:
                                type: string
                        translationKeys:
                          type: object
                          properties:
                            consectetur877:
                              type: object
                            aliquipe:
                              type: object
                            est_f_:
                              type: object
                        interpolations:
                          type: object
                          properties:
                            sit1:
                              type: object
                            Ut_44:
                              type: object
                        permissions:
                          type: array
                          items:
                            type: string
                  recordCount:
                    type: object
                    properties:
                      totalRecordsFound:
                        type: integer
                      startingRecord:
                        type: integer
                      recordsReturned:
                        type: integer
                  meta:
                    type: object
                    properties:
                      metaInformation:
                        type: object
                        properties:
                          enim_8:
                            type: object
                          Duis5c:
                            type: object
                      createdAt:
                        type: string
                        format: date-time
              example:
                apiVersion: <string>
                buildVersion: <string>
                warnings:
                - <string>
                - <string>
                errors:
                - <string>
                - <string>
                payload:
                - policyId: <long>
                  subject:
                    subjectId: <uuid>
                    subjectType: <string>
                    _links:
                      self: <string>
                      functions:
                      - <string>
                      - <string>
                    translationKeys:
                      ut66: {}
                      ut_61f: {}
                      non_d_d: {}
                    interpolations:
                      laborum_93: {}
                    permissions:
                    - asset:shareAsZippedFile
                    - None
                  resource:
                    resourceId: <uuid>
                    resourceType: <string>
                    predicate:
                      predicateType: <string>
                      predicateId: <uuid>
                      predicateValues: <string>
                      _links:
                        self: <string>
                        functions:
                        - <string>
                        - <string>
                      translationKeys:
                        amet3: {}
                      interpolations:
                        in387: {}
                      permissions:
                      - lightbox:share
                      - asset:shareAsLink
                    inherited: <boolean>
                    _links:
                      self: <string>
                      functions:
                      - <string>
                      - <string>
                    translationKeys:
                      veniam0: {}
                      velit_4_2: {}
                      occaecat_9: {}
                    interpolations:
                      sintb5c: {}
                      commodo2: {}
                    permissions:
                    - lightbox:transferOwnership
                    - asset:assignCategory
                  grant:
                    grantType: <string>
                    grantName: <string>
                    allowed: <boolean>
                    _links:
                      self: <string>
                      functions:
                      - <string>
                      - <string>
                    translationKeys:
                      ad_c: {}
                    interpolations:
                      laboris_0_1: {}
                      Ut_6c8: {}
                      aute02: {}
                    permissions:
                    - asset:shareAsBrandedPortal
                    - brandedPortal:view
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    consectetur877: {}
                    aliquipe: {}
                    est_f_: {}
                  interpolations:
                    sit1: {}
                    Ut_44: {}
                  permissions:
                  - asset:shareAsBrandedPortal
                  - asset:shareAsCdnLink
                - policyId: <long>
                  subject:
                    subjectId: <uuid>
                    subjectType: <string>
                    _links:
                      self: <string>
                      functions:
                      - <string>
                      - <string>
                    translationKeys:
                      dolor_0: {}
                    interpolations:
                      anime: {}
                      sunt_8e: {}
                    permissions:
                    - asset:shareAsWebGallery
                    - asset:shareAsZippedFile
                  resource:
                    resourceId: <uuid>
                    resourceType: <string>
                    predicate:
                      predicateType: <string>
                      predicateId: <uuid>
                      predicateValues: <string>
                      _links:
                        self: <string>
                        functions:
                        - <string>
                        - <string>
                      translationKeys:
                        cupidatat37d: {}
                      interpolations:
                        exercitation_e: {}
                      permissions:
                      - asset:assignCategory
                      - asset:shareAsLightbox
                    inherited: <boolean>
                    _links:
                      self: <string>
                      functions:
                      - <string>
                      - <string>
                    translationKeys:
                      eiusmode: {}
                      nisi_c: {}
                    interpolations:
                      ullamco52f: {}
                      adipisicing_c: {}
                    permissions:
                    - asset:shareAsCdnLink
                    - lightbox:share
                  grant:
                    grantType: <string>
                    grantName: <string>
                    allowed: <boolean>
                    _links:
                      self: <string>
                      functions:
                      - <string>
                      - <string>
                    translationKeys:
                      deserunt_f: {}
                      Utd: {}
                      tempor_fb: {}
                    interpolations:
                      reprehenderitb39: {}
                    permissions:
                    - user:editEmail
                    - asset:shareAsLink
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    proident__1: {}
                    Excepteur__8: {}
                    fugiate: {}
                  interpolations:
                    aliquae6: {}
                  permissions:
                  - asset:shareAsLightbox
                  - asset:shareAsCdnLink
                recordCount:
                  totalRecordsFound: <integer>
                  startingRecord: <integer>
                  recordsReturned: <integer>
                meta:
                  metaInformation:
                    enim_8: {}
                    Duis5c: {}
                  createdAt: <dateTime>
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
    post:
      operationId: updatesPolicyOfBrandedPortal
      summary: Updates policy of branded portal
      tags:
      - BrandedPortals
      parameters:
      - name: brandedPortalId
        in: path
        required: true
        description: brandedPortalId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                policyUpdateRequestId:
                  type: integer
                reasonForChange:
                  type: string
                addedPolicies:
                  type: array
                  items:
                    type: object
                    properties:
                      policyId:
                        type: integer
                      subject:
                        type: object
                        properties:
                          subjectId:
                            type: string
                            format: uuid
                          subjectType:
                            type: string
                      resource:
                        type: object
                        properties:
                          resourceId:
                            type: string
                            format: uuid
                          resourceType:
                            type: string
                          predicate:
                            type: object
                            properties:
                              predicateType:
                                type: string
                              predicateId:
                                type: string
                                format: uuid
                              predicateValues:
                                type: string
                          inherited:
                            type: boolean
                      grant:
                        type: object
                        properties:
                          grantType:
                            type: string
                          grantName:
                            type: string
                          allowed:
                            type: boolean
                removedPolicies:
                  type: array
                  items:
                    type: integer
                notification:
                  type: object
                  properties:
                    entityIds:
                      type: array
                      items:
                        type: string
                        format: uuid
                    notificationEntityType:
                      type: string
                    userGroups:
                      type: array
                      items:
                        type: string
                        format: uuid
                    users:
                      type: array
                      items:
                        type: string
                        format: uuid
                    userEmails:
                      type: array
                      items:
                        type: string
                    message:
                      type: string
            example:
              policyUpdateRequestId: <long>
              reasonForChange: <string>
              addedPolicies:
              - policyId: <long>
                subject:
                  subjectId: <uuid>
                  subjectType: <string>
                resource:
                  resourceId: <uuid>
                  resourceType: <string>
                  predicate:
                    predicateType: <string>
                    predicateId: <uuid>
                    predicateValues: <string>
                  inherited: <boolean>
                grant:
                  grantType: <string>
                  grantName: <string>
                  allowed: <boolean>
              - policyId: <long>
                subject:
                  subjectId: <uuid>
                  subjectType: <string>
                resource:
                  resourceId: <uuid>
                  resourceType: <string>
                  predicate:
                    predicateType: <string>
                    predicateId: <uuid>
                    predicateValues: <string>
                  inherited: <boolean>
                grant:
                  grantType: <string>
                  grantName: <string>
                  allowed: <boolean>
              removedPolicies:
              - <long>
              - <long>
              notification:
                entityIds:
                - <uuid>
                - <uuid>
                notificationEntityType: Category
                userGroups:
                - <uuid>
                - <uuid>
                users:
                - <uuid>
                - <uuid>
                userEmails:
                - <string>
                - <string>
                message: <string>
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiVersion:
                    type: string
                  buildVersion:
                    type: string
                  warnings:
                    type: array
                    items:
                      type: string
                  errors:
                    type: array
                    items:
                      type: string
                  payload:
                    type: array
                    items:
                      type: object
                      properties:
                        actionTypes:
                          type: array
                          items:
                            type: string
                        _links:
                          type: object
                          properties:
                            self:
                              type: string
                            functions:
                              type: array
                              items:
                                type: string
                        translationKeys:
                          type: object
                          properties:
                            minime:
                              type: object
                        interpolations:
                          type: object
                          properties:
                            eu3_1:
                              type: object
                            non3:
                              type: object
                            eiusmod_7b:
                              type: object
                        permissions:
                          type: array
                          items:
                            type: string
                  recordCount:
                    type: object
                    properties:
                      totalRecordsFound:
                        type: integer
                      startingRecord:
                        type: integer
                      recordsReturned:
                        type: integer
                  meta:
                    type: object
                    properties:
                      metaInformation:
                        type: object
                        properties:
                          quid_:
                            type: object
                          exercitation55:
                            type: object
                      createdAt:
                        type: string
                        format: date-time
              example:
                apiVersion: <string>
                buildVersion: <string>
                warnings:
                - <string>
                - <string>
                errors:
                - <string>
                - <string>
                payload:
                - actionTypes:
                  - <string>
                  - <string>
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    minime: {}
                  interpolations:
                    eu3_1: {}
                    non3: {}
                    eiusmod_7b: {}
                  permissions:
                  - asset:shareAsWebGallery
                  - brandedPortal:view
                - actionTypes:
                  - <string>
                  - <string>
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    cupidatat2dc: {}
                  interpolations:
                    veniam_63: {}
                  permissions:
                  - asset:createImageCrop
                  - lightbox:transferOwnership
                recordCount:
                  totalRecordsFound: <integer>
                  startingRecord: <integer>
                  recordsReturned: <integer>
                meta:
                  metaInformation:
                    quid_: {}
                    exercitation55: {}
                  createdAt: <dateTime>
        '400':
          description: There was a problem with the data sent with the request.
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The  branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
  /brandedportals/categories/{categoryId}/assets:
    get:
      operationId: retrieveBrandedPortalAssetsByCategoryId
      summary: Retrieve Branded Portal Assets By CategoryId
      description: Returns a collection of assets by categoryId in a branded portal.
      tags:
      - BrandedPortals
      parameters:
      - name: categoryId
        in: path
        required: true
        description: categoryId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assetCount:
                    type: integer
                  assets:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        title:
                          type: string
                        media:
                          type: object
                          properties:
                            type:
                              type: string
                            small:
                              type: string
                            thumb:
                              type: string
                            large:
                              type: string
                            medium:
                              type: string
                            download:
                              type: string
                            preview:
                              type: string
                            downloadRequest:
                              type: string
                            stream:
                              type: string
                            streamingManifest:
                              type: string
                            sasExpiry:
                              type: integer
                            sasRenewal:
                              type: integer
                            renditionItemCount:
                              type: integer
                            autodeskUrn:
                              type: string
                        file:
                          type: object
                          properties:
                            title:
                              type: string
                            fileName:
                              type: string
                            fileType:
                              type: string
                        visible:
                          type: boolean
                        brandedPortalVersionSections:
                          type: object
                          properties:
                            occaecatc:
                              type: array
                              items:
                                type: string
                        permissions:
                          type: object
                          properties:
                            all:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
              example:
                assetCount: <long>
                assets:
                - id: <uuid>
                  title: <string>
                  media:
                    type: <string>
                    small: <string>
                    thumb: <string>
                    large: <string>
                    medium: <string>
                    download: <string>
                    preview: <string>
                    downloadRequest: <string>
                    stream: <string>
                    streamingManifest: <string>
                    sasExpiry: <long>
                    sasRenewal: <long>
                    renditionItemCount: <long>
                    autodeskUrn: <string>
                  file:
                    title: <string>
                    fileName: <string>
                    fileType: <string>
                  visible: <boolean>
                  brandedPortalVersionSections:
                    occaecatc:
                    - <string>
                    - <string>
                  permissions:
                    all:
                    - name: <string>
                    - name: <string>
                - id: <uuid>
                  title: <string>
                  media:
                    type: <string>
                    small: <string>
                    thumb: <string>
                    large: <string>
                    medium: <string>
                    download: <string>
                    preview: <string>
                    downloadRequest: <string>
                    stream: <string>
                    streamingManifest: <string>
                    sasExpiry: <long>
                    sasRenewal: <long>
                    renditionItemCount: <long>
                    autodeskUrn: <string>
                  file:
                    title: <string>
                    fileName: <string>
                    fileType: <string>
                  visible: <boolean>
                  brandedPortalVersionSections:
                    occaecat3:
                    - <string>
                    - <string>
                    proident__:
                    - <string>
                    - <string>
                  permissions:
                    all:
                    - name: <string>
                    - name: <string>
        '403':
          description: Server refused the request.
        '404':
          description: The category was not found.
        '500':
          description: The request failed because of a problem on the server.
  /brandedportals/lightboxes/{lightboxId}/assets:
    get:
      operationId: retrieveBrandedPortalAssetsByLightboxId
      summary: Retrieve Branded Portal Assets By LightboxId
      description: Returns a collection of asset by lightboxId in a branded portal.
      tags:
      - BrandedPortals
      parameters:
      - name: lightboxId
        in: path
        required: true
        description: lightboxId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assetCount:
                    type: integer
                  assets:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        title:
                          type: string
                        media:
                          type: object
                          properties:
                            type:
                              type: string
                            small:
                              type: string
                            thumb:
                              type: string
                            large:
                              type: string
                            medium:
                              type: string
                            download:
                              type: string
                            preview:
                              type: string
                            downloadRequest:
                              type: string
                            stream:
                              type: string
                            streamingManifest:
                              type: string
                            sasExpiry:
                              type: integer
                            sasRenewal:
                              type: integer
                            renditionItemCount:
                              type: integer
                            autodeskUrn:
                              type: string
                        file:
                          type: object
                          properties:
                            title:
                              type: string
                            fileName:
                              type: string
                            fileType:
                              type: string
                        visible:
                          type: boolean
                        brandedPortalVersionSections:
                          type: object
                          properties:
                            occaecatc:
                              type: array
                              items:
                                type: string
                        permissions:
                          type: object
                          properties:
                            all:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
              example:
                assetCount: <long>
                assets:
                - id: <uuid>
                  title: <string>
                  media:
                    type: <string>
                    small: <string>
                    thumb: <string>
                    large: <string>
                    medium: <string>
                    download: <string>
                    preview: <string>
                    downloadRequest: <string>
                    stream: <string>
                    streamingManifest: <string>
                    sasExpiry: <long>
                    sasRenewal: <long>
                    renditionItemCount: <long>
                    autodeskUrn: <string>
                  file:
                    title: <string>
                    fileName: <string>
                    fileType: <string>
                  visible: <boolean>
                  brandedPortalVersionSections:
                    occaecatc:
                    - <string>
                    - <string>
                  permissions:
                    all:
                    - name: <string>
                    - name: <string>
                - id: <uuid>
                  title: <string>
                  media:
                    type: <string>
                    small: <string>
                    thumb: <string>
                    large: <string>
                    medium: <string>
                    download: <string>
                    preview: <string>
                    downloadRequest: <string>
                    stream: <string>
                    streamingManifest: <string>
                    sasExpiry: <long>
                    sasRenewal: <long>
                    renditionItemCount: <long>
                    autodeskUrn: <string>
                  file:
                    title: <string>
                    fileName: <string>
                    fileType: <string>
                  visible: <boolean>
                  brandedPortalVersionSections:
                    occaecat3:
                    - <string>
                    - <string>
                    proident__:
                    - <string>
                    - <string>
                  permissions:
                    all:
                    - name: <string>
                    - name: <string>
        '401':
          description: The current user is not authorized to view this lightbox.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The lightbox was not found.
        '500':
          description: The request failed because of a problem on the server.
  /public/brandedportals/{host}/termsAndConditions:
    get:
      operationId: retrieveBrandedPortalTermsAndConditions
      summary: Retrieve Branded Portal Terms and Conditions
      description: Returns the terms and condititons of a branded portal.
      tags:
      - BrandedPortals
      parameters:
      - name: host
        in: path
        required: true
        description: host path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  libraryName:
                    type: string
                  displayTermsAndConditions:
                    type: boolean
                  termsAndConditionsNotice:
                    type: string
                  termsAndConditionsUpdated:
                    type: string
                    format: date-time
              example:
                libraryName: <string>
                displayTermsAndConditions: <boolean>
                termsAndConditionsNotice: <string>
                termsAndConditionsUpdated: <dateTime>
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
  /brandedportals/{brandedPortalId}/{sectionId}/sync:
    get:
      operationId: getBrandedPortalSectionSyncDetails
      summary: Get branded portal section sync details
      description: Return branded portal section sync details
      tags:
      - BrandedPortals
      parameters:
      - name: brandedPortalId
        in: path
        required: true
        description: brandedPortalId path parameter.
        schema:
          type: string
      - name: sectionId
        in: path
        required: true
        description: sectionId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  brandedPortalId:
                    type: string
                    format: uuid
                  versionId:
                    type: string
                    format: uuid
                  sectionId:
                    type: string
                    format: uuid
                  syncType:
                    type: string
                  categoryId:
                    type: string
                    format: uuid
                  lightboxId:
                    type: string
                    format: uuid
                  name:
                    type: string
                  treePath:
                    type: string
                  treeIdPath:
                    type: string
              example:
                brandedPortalId: <uuid>
                versionId: <uuid>
                sectionId: <uuid>
                syncType: Category
                categoryId: <uuid>
                lightboxId: <uuid>
                name: <string>
                treePath: <string>
                treeIdPath: <string>
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
    post:
      operationId: createSectionSync
      summary: Create section sync
      description: Sync Branded Portal section.
      tags:
      - BrandedPortals
      parameters:
      - name: brandedPortalId
        in: path
        required: true
        description: brandedPortalId path parameter.
        schema:
          type: string
      - name: sectionId
        in: path
        required: true
        description: sectionId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: string
                  format: uuid
                lightboxId:
                  type: string
                  format: uuid
            example:
              categoryId: <uuid>
              lightboxId: <uuid>
      responses:
        '204':
          description: No Content, Request was successful Response is null.
        '400':
          description: There was a problem with the data sent with the request.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
  /brandedportals/{brandedPortalId}/settings/accesskey:
    get:
      operationId: retrieveBrandedPortalAccessKey
      summary: Retrieve Branded Portal Access Key
      description: Returns a branded portal access key.
      tags:
      - BrandedPortals
      parameters:
      - name: brandedPortalId
        in: path
        required: true
        description: brandedPortalId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
  /brandedportals/{brandedPortalId}/assets:
    get:
      operationId: searchBrandedPortalDraftAssets
      summary: Search Branded Portal Draft Assets
      description: Returns search results from branded portal draft assets.
      tags:
      - BrandedPortals
      parameters:
      - name: brandedPortalId
        in: path
        required: true
        description: brandedPortalId path parameter.
        schema:
          type: string
      - name: preview
        in: query
        required: false
        description: preview query parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assetCount:
                    type: integer
                  assets:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        title:
                          type: string
                        media:
                          type: object
                          properties:
                            type:
                              type: string
                            small:
                              type: string
                            thumb:
                              type: string
                            large:
                              type: string
                            medium:
                              type: string
                            download:
                              type: string
                            preview:
                              type: string
                            downloadRequest:
                              type: string
                            stream:
                              type: string
                            streamingManifest:
                              type: string
                            sasExpiry:
                              type: integer
                            sasRenewal:
                              type: integer
                            renditionItemCount:
                              type: integer
                            autodeskUrn:
                              type: string
                        file:
                          type: object
                          properties:
                            title:
                              type: string
                            fileName:
                              type: string
                            fileType:
                              type: string
                        visible:
                          type: boolean
                        brandedPortalVersionSections:
                          type: object
                          properties:
                            occaecatc:
                              type: array
                              items:
                                type: string
                        permissions:
                          type: object
                          properties:
                            all:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
              example:
                assetCount: <long>
                assets:
                - id: <uuid>
                  title: <string>
                  media:
                    type: <string>
                    small: <string>
                    thumb: <string>
                    large: <string>
                    medium: <string>
                    download: <string>
                    preview: <string>
                    downloadRequest: <string>
                    stream: <string>
                    streamingManifest: <string>
                    sasExpiry: <long>
                    sasRenewal: <long>
                    renditionItemCount: <long>
                    autodeskUrn: <string>
                  file:
                    title: <string>
                    fileName: <string>
                    fileType: <string>
                  visible: <boolean>
                  brandedPortalVersionSections:
                    occaecatc:
                    - <string>
                    - <string>
                  permissions:
                    all:
                    - name: <string>
                    - name: <string>
                - id: <uuid>
                  title: <string>
                  media:
                    type: <string>
                    small: <string>
                    thumb: <string>
                    large: <string>
                    medium: <string>
                    download: <string>
                    preview: <string>
                    downloadRequest: <string>
                    stream: <string>
                    streamingManifest: <string>
                    sasExpiry: <long>
                    sasRenewal: <long>
                    renditionItemCount: <long>
                    autodeskUrn: <string>
                  file:
                    title: <string>
                    fileName: <string>
                    fileType: <string>
                  visible: <boolean>
                  brandedPortalVersionSections:
                    occaecat3:
                    - <string>
                    - <string>
                    proident__:
                    - <string>
                    - <string>
                  permissions:
                    all:
                    - name: <string>
                    - name: <string>
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
    delete:
      operationId: removeAssetsFormABrandedPortal
      summary: Remove Assets Form A Branded Portal.
      description: Remove assets form a branded portal.
      tags:
      - BrandedPortals
      parameters:
      - name: brandedPortalId
        in: path
        required: true
        description: brandedPortalId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
            example:
            - <uuid>
            - <uuid>
      responses:
        '204':
          description: No Content, Request was successful Response is null.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
  /public/{libraryId}/brandedportals/{brandedPortalId}/assets:
    get:
      operationId: searchALiveBrandedPortal
      summary: Search A Live Branded Portal
      description: Returns search results for a live branded portal.
      tags:
      - BrandedPortals
      parameters:
      - name: libraryId
        in: path
        required: true
        description: libraryId path parameter.
        schema:
          type: string
      - name: brandedPortalId
        in: path
        required: true
        description: brandedPortalId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assetCount:
                    type: integer
                  assets:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        title:
                          type: string
                        media:
                          type: object
                          properties:
                            type:
                              type: string
                            small:
                              type: string
                            thumb:
                              type: string
                            large:
                              type: string
                            medium:
                              type: string
                            download:
                              type: string
                            preview:
                              type: string
                            downloadRequest:
                              type: string
                            stream:
                              type: string
                            streamingManifest:
                              type: string
                            sasExpiry:
                              type: integer
                            sasRenewal:
                              type: integer
                            renditionItemCount:
                              type: integer
                            autodeskUrn:
                              type: string
                        file:
                          type: object
                          properties:
                            title:
                              type: string
                            fileName:
                              type: string
                            fileType:
                              type: string
              example:
                assetCount: <long>
                assets:
                - id: <uuid>
                  title: <string>
                  media:
                    type: <string>
                    small: <string>
                    thumb: <string>
                    large: <string>
                    medium: <string>
                    download: <string>
                    preview: <string>
                    downloadRequest: <string>
                    stream: <string>
                    streamingManifest: <string>
                    sasExpiry: <long>
                    sasRenewal: <long>
                    renditionItemCount: <long>
                    autodeskUrn: <string>
                  file:
                    title: <string>
                    fileName: <string>
                    fileType: <string>
                - id: <uuid>
                  title: <string>
                  media:
                    type: <string>
                    small: <string>
                    thumb: <string>
                    large: <string>
                    medium: <string>
                    download: <string>
                    preview: <string>
                    downloadRequest: <string>
                    stream: <string>
                    streamingManifest: <string>
                    sasExpiry: <long>
                    sasRenewal: <long>
                    renditionItemCount: <long>
                    autodeskUrn: <string>
                  file:
                    title: <string>
                    fileName: <string>
                    fileType: <string>
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The branded portal was not found.
        '500':
          description: The request failed because of a problem on the server.
  /brandedportals/{brandedPortalId}/sections/{sectionId}/uploads:
    get:
[...]
