openapi: 3.2.0
info:
  title: MediaValet Reports V2 API
  description: The MediaValet API is a RESTful, JSON, hypermedia-driven service that supplies data to clients consuming the MediaValet cloud digital asset management (DAM) platform.
  version: '1.0'
  contact:
    name: MediaValet
    url: https://developer.mediavalet.com
  termsOfService: https://www.mediavalet.com/terms-of-service
servers:
- url: https://api.mediavalet.com
  description: MediaValet API gateway (public)
security:
- oauth2:
  - api
  subscriptionKey: []
tags:
- name: ReportsV2
  description: Version 2 of the usage and activity reporting surface.
paths:
  /v2/reports:
    get:
      operationId: retrieveAListOfAllAvailableReports
      summary: Retrieve a list of all available reports
      description: Returns a list of available reports.
      tags:
      - ReportsV2
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  count:
                    type: integer
                  thumbNailUrl:
                    type: string
                  type:
                    type: string
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      dolor0:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      sit3:
                        type: object
                      velitf:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <string>
                name: <string>
                count: <integer>
                thumbNailUrl: <string>
                type: Video
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  dolor0: {}
                interpolations:
                  sit3: {}
                  velitf: {}
                permissions:
                - lightbox:assignAsset
                - lightbox:transferOwnership
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
  /v2/reports/{reportId}/embed:
    get:
      operationId: retrieveAnEmbedTokenForTheSpecifiedReport
      summary: Retrieve an embed token for the specified report
      description: Returns a report embed token.
      tags:
      - ReportsV2
      parameters:
      - name: reportId
        in: path
        required: true
        description: reportId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  count:
                    type: integer
                  thumbNailUrl:
                    type: string
                  type:
                    type: string
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      dolor0:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      sit3:
                        type: object
                      velitf:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <string>
                name: <string>
                count: <integer>
                thumbNailUrl: <string>
                type: Video
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  dolor0: {}
                interpolations:
                  sit3: {}
                  velitf: {}
                permissions:
                - lightbox:assignAsset
                - lightbox:transferOwnership
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 / OpenID Connect issued by https://iam.mediavalet.com via https://login.mediavalet.com. Send the access token as a Bearer Authorization header.
      flows:
        authorizationCode:
          authorizationUrl: https://login.mediavalet.com/connect/authorize
          tokenUrl: https://login.mediavalet.com/connect/token
          refreshUrl: https://login.mediavalet.com/connect/token
          scopes:
            openid: OpenID Connect identity
            profile: User profile claims
            api: Access the MediaValet API
            api:service_principal: Service-principal (machine) access to the MediaValet API
            iam.admin: Administer MediaValet identity and access management
            iam.provisioning: Provision users and organizations
            offline_access: Obtain a refresh token
        clientCredentials:
          tokenUrl: https://login.mediavalet.com/connect/token
          scopes:
            api: Access the MediaValet API
            api:service_principal: Service-principal (machine) access to the MediaValet API
        password:
          tokenUrl: https://login.mediavalet.com/connect/token
          scopes:
            openid: OpenID Connect identity
            api: Access the MediaValet API
            offline_access: Obtain a refresh token
    subscriptionKey:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: Per-account API subscription key issued through the MediaValet Developer Portal (Azure API Management).
