openapi: 3.0.3
info:
  title: MediaValet API
  description: |-
    The MediaValet API is a RESTful, JSON, hypermedia-driven service that supplies data to clients consuming the MediaValet cloud digital asset management (DAM) platform. The service applies business rules, permission rules, and other data processing to standardize what is returned. Requests go to the API gateway at https://api.mediavalet.com and must carry two credentials: an OAuth 2.0 / OpenID Connect Bearer access token issued by https://login.mediavalet.com/connect/token, and a per-account subscription key in the Ocp-Apim-Subscription-Key header. Requests also carry an x-mv-api-version header to select the API version. Access requires a MediaValet subscription and registration in the MediaValet Developer Portal at https://developer.mediavalet.com.

    PROVENANCE: this definition is derived operation-for-operation from MediaValet's own published Postman collection ("MediaValet API", collection 55cc404f-b818-43ba-87c2-1a07f2a47bd9) served at https://docs.mediavalet.com/api/collections/15676803/TzRUB7XE. Paths, methods, parameters, request bodies, response status codes and examples come from that collection. Schemas are inferred from the collection's request/response example payloads and are indicative rather than authoritative.
  version: '1.0'
  contact:
    name: MediaValet
    url: https://developer.mediavalet.com
  termsOfService: https://www.mediavalet.com/terms-of-service
servers:
- url: https://api.mediavalet.com
  description: MediaValet API gateway (public)
security:
- oauth2:
  - api
  subscriptionKey: []
tags:
- name: Assets
  description: Core digital asset objects, their media files, renditions, versions, comments, history,
    faces and video clips.
- name: AttributeGroups
  description: Groupings of custom metadata attributes.
- name: Attributes
  description: Custom metadata attribute definitions and their values on assets.
- name: Authorization
  description: Authorization and permission checks.
- name: BrandedPortals
  description: Branded Portals — externally shareable, branded views onto a subset of the library.
- name: Categories
  description: Hierarchical categories (folders) that organize assets and carry permissions.
- name: Config
  description: Library and account configuration.
- name: Crop
  description: Server-side cropping and derivative generation.
- name: DirectLinks
  description: Direct/CDN links to assets and renditions for external distribution.
- name: Downloads
  description: Asset download requests, packaging and download presets.
- name: Home
  description: API root / hypermedia entry point.
- name: Integrations
  description: 'Third-party integration registration: apps, subscriptions, allowed origins, users and
    entitlements.'
- name: IntroductionAndHelp
  description: Introductory and help resources served by the API.
- name: KeywordGroups
  description: Groupings of controlled-vocabulary keywords.
- name: Keywords
  description: Keyword vocabulary and per-asset tagging.
- name: Lightbox
  description: Lightboxes — user-curated collections of assets.
- name: Notification
  description: In-product notifications and notification preferences.
- name: OrgUnit
  description: Organizational units (libraries) and their configuration.
- name: Persons
  description: Person/face recognition records used to tag people in assets.
- name: Reports
  description: Usage and activity reporting.
- name: ReportsV2
  description: Version 2 of the usage and activity reporting surface.
- name: SavedSearches
  description: Saved searches and their execution.
- name: Searches
  description: Search across the library, including filters and facets.
- name: Sharing
  description: Asset and collection sharing.
- name: TermsAndConditions
  description: Terms and conditions acceptance.
- name: Uploads
  description: Chunked ingest of new files and new asset versions into a library.
- name: UserGroups
  description: User groups and group membership.
- name: Users
  description: Users, their profiles, permissions and entitlements.
- name: Webhooks
  description: SkyHOOK webhook and Azure Event Grid subscription management for MediaValet events.
paths:
  /assetCheckIn/{assetId}:
    get:
      operationId: checkInAsset
      summary: Check-In Asset
      description: ChecksIn an asset and returns newly created asset media file information.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '202':
          description: Request was accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  uploadUrl:
                    type: string
                  uploadFileName:
                    type: string
                  mediaFileId:
                    type: string
                    format: uuid
                  title:
                    type: string
                  description:
                    type: string
                  fileSizeInBytes:
                    type: integer
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      ullamco__8:
                        type: object
                      aliquaed5:
                        type: object
                      quiddd:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      reprehenderita:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                uploadUrl: <string>
                uploadFileName: <string>
                mediaFileId: <uuid>
                title: <string>
                description: <string>
                fileSizeInBytes: <long>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  ullamco__8: {}
                  aliquaed5: {}
                  quiddd: {}
                interpolations:
                  reprehenderita: {}
                permissions:
                - asset:downloadFromPortal
                - lightbox:share
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
    put:
      operationId: updateCheckedInAsset
      summary: Update Checked-In Asset
      description: Update asset's checked-in.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                status:
                  type: integer
                fileSizeInBytes:
                  type: integer
                uploadFilename:
                  type: string
                fileName:
                  type: string
                uploadUrl:
                  type: string
            example:
              comment: <string>
              status: <integer>
              fileSizeInBytes: <long>
              uploadFilename: <string>
              fileName: <string>
              uploadUrl: <string>
      responses:
        '202':
          description: Request was accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  title:
                    type: string
                  media:
                    type: object
                    properties:
                      type:
                        type: string
                      small:
                        type: string
                      thumb:
                        type: string
                      large:
                        type: string
                      original:
                        type: string
                      medium:
                        type: string
                      download:
                        type: string
                      downloadRequest:
                        type: string
                      stream:
                        type: string
                      streamLoDef:
                        type: string
                      originalDimensions:
                        type: string
                      sasExpiry:
                        type: integer
                      sasRenewal:
                        type: integer
                      renditionItemCount:
                        type: integer
                      autodeskUrn:
                        type: string
                      watermarked:
                        type: boolean
                      assetId:
                        type: string
                        format: uuid
                      streamingManifest:
                        type: string
                      fullStreamAvailable:
                        type: boolean
                  file:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      title:
                        type: string
                      fileName:
                        type: string
                      md5:
                        type: string
                      fileType:
                        type: string
                      sizeInBytes:
                        type: integer
                      description:
                        type: string
                      keywords:
                        type: string
                      uploadedAt:
                        type: string
                        format: date-time
                      modifiedAt:
                        type: string
                        format: date-time
                      approvedAt:
                        type: string
                        format: date-time
                      disapprovedAt:
                        type: string
                        format: date-time
                      expiresAt:
                        type: string
                        format: date-time
                      imageHeight:
                        type: integer
                      imageWidth:
                        type: integer
                      frameRate:
                        type: string
                      length:
                        type: string
                      bitRate:
                        type: string
                      mimeType:
                        type: string
                      resolution:
                        type: string
                      colorMode:
                        type: string
                      aspectRatio:
                        type: string
                      orientation:
                        type: string
                      sharedRenditionWidth:
                        type: integer
                      sharedRenditionHeight:
                        type: integer
                      sharedRenditionFileExtension:
                        type: string
                      sharedRenditionFileSizeInBytes:
                        type: integer
                  description:
                    type: string
                  altText:
                    type: string
                  containerName:
                    type: string
                  status:
                    type: integer
                  rating:
                    type: object
                    properties:
                      average:
                        type: integer
                      user:
                        type: integer
                  attributes:
                    type: object
                    properties:
                      amet_a0e:
                        type: string
                      culpa_16:
                        type: string
                  record:
                    type: object
                    properties:
                      createdAt:
                        type: string
                        format: date-time
                      createdBy:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          username:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                      modifiedAt:
                        type: string
                        format: date-time
                      modifiedBy:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          username:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                      softDeletedAt:
                        type: string
                        format: date-time
                      softDeletedBy:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          username:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                      version:
                        type: object
                        properties:
                          version:
                            type: integer
                          current:
                            type: string
                            format: uuid
                          head:
                            type: string
                            format: uuid
                          parentid:
                            type: string
                            format: uuid
                          isversionable:
                            type: boolean
                          islatestversion:
                            type: boolean
                          ismajorversion:
                            type: boolean
                  categories:
                    type: array
                    items:
                      type: string
                      format: uuid
                  keywords:
                    type: array
                    items:
                      type: string
                  relatedassets:
                    type: array
                    items:
                      type: string
                      format: uuid
                  assetCheckOutComment:
                    type: string
                  assetCheckInComment:
                    type: string
                  checkedOutBy:
                    type: string
                    format: uuid
                  renderAsPdf:
                    type: boolean
                  wopiEnabled:
                    type: boolean
                  userViewCounts:
                    type: object
                    properties:
                      Ut_86:
                        type: integer
                      consectetur7c:
                        type: integer
                      voluptate_94:
                        type: integer
                  createdAt:
                    type: string
                    format: date-time
                  hasVideoIntelligenceContent:
                    type: boolean
                  followed:
                    type: boolean
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      nostrud389:
                        type: object
                      non186:
                        type: object
                      amet_668:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      incididunt4d:
                        type: object
                      in2:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                title: <string>
                media:
                  type: <string>
                  small: <string>
                  thumb: <string>
                  large: <string>
                  original: <string>
                  medium: <string>
                  download: <string>
                  downloadRequest: <string>
                  stream: <string>
                  streamLoDef: <string>
                  originalDimensions: <string>
                  sasExpiry: <long>
                  sasRenewal: <long>
                  renditionItemCount: <long>
                  autodeskUrn: <string>
                  watermarked: <boolean>
                  assetId: <uuid>
                  streamingManifest: <string>
                  fullStreamAvailable: <boolean>
                file:
                  id: <uuid>
                  title: <string>
                  fileName: <string>
                  md5: <string>
                  fileType: <string>
                  sizeInBytes: <long>
                  description: <string>
                  keywords: <string>
                  uploadedAt: <dateTime>
                  modifiedAt: <dateTime>
                  approvedAt: <dateTime>
                  disapprovedAt: <dateTime>
                  expiresAt: <dateTime>
                  imageHeight: <long>
                  imageWidth: <long>
                  frameRate: <string>
                  length: <string>
                  bitRate: <string>
                  mimeType: <string>
                  resolution: <string>
                  colorMode: <string>
                  aspectRatio: <string>
                  orientation: <string>
                  sharedRenditionWidth: <long>
                  sharedRenditionHeight: <long>
                  sharedRenditionFileExtension: <string>
                  sharedRenditionFileSizeInBytes: <long>
                description: <string>
                altText: <string>
                containerName: <string>
                status: <integer>
                rating:
                  average: <integer>
                  user: <integer>
                attributes:
                  amet_a0e: <string>
                  culpa_16: <string>
                record:
                  createdAt: <dateTime>
                  createdBy:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  modifiedAt: <dateTime>
                  modifiedBy:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  softDeletedAt: <dateTime>
                  softDeletedBy:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  version:
                    version: <integer>
                    current: <uuid>
                    head: <uuid>
                    parentid: <uuid>
                    isversionable: <boolean>
                    islatestversion: <boolean>
                    ismajorversion: <boolean>
                categories:
                - <uuid>
                - <uuid>
                keywords:
                - <string>
                - <string>
                relatedassets:
                - <uuid>
                - <uuid>
                assetCheckOutComment: <string>
                assetCheckInComment: <string>
                checkedOutBy: <uuid>
                renderAsPdf: <boolean>
                wopiEnabled: <boolean>
                userViewCounts:
                  Ut_86: <long>
                  consectetur7c: <long>
                  voluptate_94: <long>
                createdAt: <dateTime>
                hasVideoIntelligenceContent: <boolean>
                followed: <boolean>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  nostrud389: {}
                  non186: {}
                  amet_668: {}
                interpolations:
                  incididunt4d: {}
                  in2: {}
                permissions:
                - lightbox:assignAsset
                - asset:shareAsCdnLink
        '400':
          description: There was a problem with the data sent with the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      in1e:
                        type: object
                      officiaef:
                        type: object
                      deserunt8:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      nisi_a:
                        type: object
                      consequat_7_:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                message: <string>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  in1e: {}
                  officiaef: {}
                  deserunt8: {}
                interpolations:
                  nisi_a: {}
                  consequat_7_: {}
                permissions:
                - asset:downloadFromMvd
                - lightbox:assignAsset
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
  /assets/{assetId}/faces:
    get:
      operationId: assetsGetFacesInAsset
      summary: Assets Get Faces In Asset
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  faces:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        personId:
                          type: string
                        personName:
                          type: string
                        identified:
                          type: boolean
                        identificationStatus:
                          type: integer
                        faceRectangle:
                          type: object
                          properties:
                            top:
                              type: integer
                            left:
                              type: integer
                            width:
                              type: integer
                            height:
                              type: integer
                        thumbnailUrl:
                          type: string
              example:
                faces:
                - id: <string>
                  personId: <string>
                  personName: <string>
                  identified: <boolean>
                  identificationStatus: <integer>
                  faceRectangle:
                    top: <integer>
                    left: <integer>
                    width: <integer>
                    height: <integer>
                  thumbnailUrl: <string>
                - id: <string>
                  personId: <string>
                  personName: <string>
                  identified: <boolean>
                  identificationStatus: <integer>
                  faceRectangle:
                    top: <integer>
                    left: <integer>
                    width: <integer>
                    height: <integer>
                  thumbnailUrl: <string>
        '400':
          description: There was a problem with the data sent with the request.
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
  /assets/{assetId}/clip/{clipId}:
    get:
      operationId: retrieveVideoClip
      summary: Retrieve Video Clip
      description: Retrieves Video Clip details.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: clipId
        in: path
        required: true
        description: clipId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assetId:
                    type: string
                    format: uuid
                  clipId:
                    type: string
                    format: uuid
                  clipUrl:
                    type: string
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      fugiat99f:
                        type: object
                      Utcbc:
                        type: object
                      culpa7_:
                        type: object
                      occaecat_:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      Excepteur_09d:
                        type: object
                      eu_4_b:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                assetId: <uuid>
                clipId: <uuid>
                clipUrl: <string>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  fugiat99f: {}
                  Utcbc: {}
                  culpa7_: {}
                  occaecat_: {}
                interpolations:
                  Excepteur_09d: {}
                  eu_4_b: {}
                permissions:
                - None
                - asset:assignCategory
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The video clip was not found.
        '500':
          description: The request failed because of a problem on the server.
  /assets/{assetId}/relatedassets:
    get:
      operationId: retrieveAssetRelatedAssets
      summary: Retrieve Asset Related Assets
      description: Retrieve related assets based on the asset id.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: A related asset was not found.
        '500':
          description: The request failed because of a problem on the server.
    post:
      operationId: createAssociationWithAssetAndRelatedAssets
      summary: Create Association with Asset and Related Assets
      description: Add related assets to an asset.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                derived:
                  type: array
                  items:
                    type: string
                    format: uuid
            example:
              derived:
              - <uuid>
              - <uuid>
      responses:
        '202':
          description: Request was accepted.
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
  /assets/videoIntelligence/limits:
    get:
      operationId: retrieveVideoIntelligenceLimits
      summary: Retrieve Video Intelligence Limits
      description: Retrieves video intelligence limits and usage information.
      tags:
      - Assets
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  allottedCredits:
                    type: integer
                  maximumRunTime:
                    type: integer
                  totalAssetsIndexed:
                    type: integer
                  remainingCredit:
                    type: integer
              example:
                status: <string>
                allottedCredits: <integer>
                maximumRunTime: <integer>
                totalAssetsIndexed: <integer>
                remainingCredit: <integer>
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The video intelligence was not found.
        '500':
          description: The request failed because of a problem on the server.
  /assets/{assetId}/{metadataType}:
    get:
      operationId: retrieveAssetMetadata
      summary: Retrieve Asset Metadata
      description: Retrieve meta data for an asset.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: metadataType
        in: path
        required: true
        description: metadataType path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '202':
          description: List of records representing the meta data requested.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    propertyId:
                      type: string
                      format: uuid
                    entityObjectId:
                      type: string
                      format: uuid
                    tagGroup:
                      type: string
                    propertyName:
                      type: string
                    propertyValue:
                      type: string
                    _links:
                      type: object
                      properties:
                        self:
                          type: string
                        functions:
                          type: array
                          items:
                            type: string
                    translationKeys:
                      type: object
                      properties:
                        proidentc:
                          type: object
                        voluptate_83:
                          type: object
                    interpolations:
                      type: object
                      properties:
                        pariatur_16c:
                          type: object
                    permissions:
                      type: array
                      items:
                        type: string
              example:
              - propertyId: <uuid>
                entityObjectId: <uuid>
                tagGroup: Colors
                propertyName: <string>
                propertyValue: <string>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  proidentc: {}
                  voluptate_83: {}
                interpolations:
                  pariatur_16c: {}
                permissions:
                - asset:shareAsLightbox
                - asset:shareAsLightbox
              - propertyId: <uuid>
                entityObjectId: <uuid>
                tagGroup: Microsoft
                propertyName: <string>
                propertyValue: <string>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  veniam8_9: {}
                  culpa_3e4: {}
                interpolations:
                  adipisicing_e4: {}
                permissions:
                - lightbox:assignAsset
                - None
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The asset was not found, or the Metadata is not supported.
        '500':
          description: The request failed because of a problem on the server.
  /assets/{assetId}/videoInsights:
    get:
      operationId: retrieveAssetVideoInsights
      summary: Retrieve Asset Video Insights
      description: Retrieve video insights for an asset.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: An asset was not found.
        '500':
          description: The request failed because of a problem on the server.
        '204':
          description: An asset video insights were not found
  /assets/{assetId}/videoTranscript:
    get:
      operationId: retrieveAssetVideoTranscript
      summary: Retrieve Asset Video Transcript
      description: Retrieve video insights for an asset.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: An asset was not found.
        '500':
          description: The request failed because of a problem on the server.
        '204':
          description: An asset video transcript was not found
  /assets/{assetId}/searchRelatedAssets:
    get:
      operationId: retrieveRelatedAssets
      summary: Retrieve Related Assets
      description: Search for assets and exclude asset that match search criteria to retrieve assets that
        can be related to current asset.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
  /public/assets/{id}/relatedasset/{token}:
    get:
      operationId: retrieveRelatedAssets2
      summary: Retrieve Related Assets
      description: Retrieve related assets for an asset.
      tags:
      - Assets
      parameters:
      - name: id
        in: path
        required: true
        description: id path parameter.
        schema:
          type: string
      - name: token
        in: path
        required: true
        description: token path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
        '500':
          description: The request failed because of a problem on the server.
  /assets/{assetId}/relatedAssetsGalleryUrl:
    get:
      operationId: retrieveRelatedAssetGalleryUrl
      summary: Retrieve Related Asset Gallery Url
      description: Retrieve the url for use with related assets gallery application.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  WebGalleryUrl:
                    type: string
              example:
                WebGalleryUrl: <string>
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
  /assets/{assetId}/videoIntelligence/status:
    get:
      operationId: retrieveVideoIntelligenceStatus
      summary: Retrieve Video Intelligence Status
      description: Retrieve video intelligence analysis status for an asset.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  VideoIndexerId:
                    type: string
                  RequestSubmittedOn:
                    type: string
                    format: date-time
                  StatusLastCheckedOn:
                    type: string
                    format: date-time
                  AnalysisCompletedOn:
                    type: string
                    format: date-time
              example:
                Status: <string>
                VideoIndexerId: <string>
                RequestSubmittedOn: <dateTime>
                StatusLastCheckedOn: <dateTime>
                AnalysisCompletedOn: <dateTime>
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: An asset was not found.
        '500':
          description: The request failed because of a problem on the server.
  /assets/{assetId}/videoIntelligence/insights:
    get:
      operationId: retrieveVideoIntelligenceResult
      summary: Retrieve Video Intelligence Result
      description: Retrieves video intelligence insights for an asset.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestedMinimumConfidenceRate:
                    type: number
                  insights:
                    type: object
                    properties:
                      keywords:
                        type: array
                        items:
                          type: object
                          properties:
                            confidence:
                              type: number
                            text:
                              type: string
                      labels:
                        type: array
                        items:
                          type: object
                          properties:
                            confidence:
                              type: number
                            text:
                              type: string
                      topics:
                        type: array
                        items:
                          type: object
                          properties:
                            confidence:
                              type: number
                            text:
                              type: string
                      faces:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
              example:
                suggestedMinimumConfidenceRate: <double>
                insights:
                  keywords:
                  - confidence: <double>
                    text: <string>
                  - confidence: <double>
                    text: <string>
                  labels:
                  - confidence: <double>
                    text: <string>
                  - confidence: <double>
                    text: <string>
                  topics:
                  - confidence: <double>
                    text: <string>
                  - confidence: <double>
                    text: <string>
                  faces:
                  - text: <string>
                  - text: <string>
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The video intelligence was not found.
        '500':
          description: The request failed because of a problem on the server.
  /assets:
    get:
      operationId: retrieveAssetsWithSearchCriteria
      summary: Retrieve Assets With Search Criteria
      description: Search for assets within a library that match optional search criteria.
      tags:
      - Assets
      parameters:
      - name: includeSoftDeleted
        in: query
        required: false
        description: includeSoftDeleted query parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
    post:
      operationId: createAsset
      summary: Create Asset
      description: Creates an asset and returns newly created asset information.
      tags:
      - Assets
      parameters:
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                fileSizeInBytes:
                  type: integer
                filename:
                  type: string
                fileNameVersioning:
                  type: boolean
            example:
              id: <uuid>
              fileSizeInBytes: <long>
              filename: <string>
              fileNameVersioning: <boolean>
      responses:
        '202':
          description: Request was accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  uploadUrl:
                    type: string
                  uploadFileName:
                    type: string
                  mediaFileId:
                    type: string
                    format: uuid
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      ut4:
                        type: object
                      sed_54:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      nulla_9:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                uploadUrl: <string>
                uploadFileName: <string>
                mediaFileId: <uuid>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  ut4: {}
                  sed_54: {}
                interpolations:
                  nulla_9: {}
                permissions:
                - lightbox:assignAsset
                - lightbox:editDetails
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
  /assets/{assetId}:
    get:
      operationId: retrieveAsset
      summary: Retrieve Asset
      description: Retrieve an asset based on the asset id parameter.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: includeSoftDeleted
        in: query
        required: false
        description: includeSoftDeleted query parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  title:
                    type: string
                  media:
                    type: object
                    properties:
                      type:
                        type: string
                      small:
                        type: string
                      thumb:
                        type: string
                      large:
                        type: string
                      original:
                        type: string
                      medium:
                        type: string
                      download:
                        type: string
                      downloadRequest:
                        type: string
                      stream:
                        type: string
                      streamLoDef:
                        type: string
                      originalDimensions:
                        type: string
                      sasExpiry:
                        type: integer
                      sasRenewal:
                        type: integer
                      renditionItemCount:
                        type: integer
                      autodeskUrn:
                        type: string
                      watermarked:
                        type: boolean
                      assetId:
                        type: string
                        format: uuid
                      streamingManifest:
                        type: string
                      fullStreamAvailable:
                        type: boolean
                  file:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      title:
                        type: string
                      fileName:
                        type: string
                      md5:
                        type: string
                      fileType:
                        type: string
                      sizeInBytes:
                        type: integer
                      description:
                        type: string
                      keywords:
                        type: string
                      uploadedAt:
                        type: string
                        format: date-time
                      modifiedAt:
                        type: string
                        format: date-time
                      approvedAt:
                        type: string
                        format: date-time
                      disapprovedAt:
                        type: string
                        format: date-time
                      expiresAt:
                        type: string
                        format: date-time
                      imageHeight:
                        type: integer
                      imageWidth:
                        type: integer
                      frameRate:
                        type: string
                      length:
                        type: string
                      bitRate:
                        type: string
                      mimeType:
                        type: string
                      resolution:
                        type: string
                      colorMode:
                        type: string
                      aspectRatio:
                        type: string
                      orientation:
                        type: string
                      sharedRenditionWidth:
                        type: integer
                      sharedRenditionHeight:
                        type: integer
                      sharedRenditionFileExtension:
                        type: string
                      sharedRenditionFileSizeInBytes:
                        type: integer
                  description:
                    type: string
                  altText:
                    type: string
                  containerName:
                    type: string
                  status:
                    type: integer
                  rating:
                    type: object
                    properties:
                      average:
                        type: integer
                      user:
                        type: integer
                  attributes:
                    type: object
                    properties:
                      amet_a0e:
                        type: string
                      culpa_16:
                        type: string
                  record:
                    type: object
                    properties:
                      createdAt:
                        type: string
                        format: date-time
                      createdBy:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          username:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                      modifiedAt:
                        type: string
                        format: date-time
                      modifiedBy:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          username:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                      softDeletedAt:
                        type: string
                        format: date-time
                      softDeletedBy:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          username:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                      version:
                        type: object
                        properties:
                          version:
                            type: integer
                          current:
                            type: string
                            format: uuid
                          head:
                            type: string
                            format: uuid
                          parentid:
                            type: string
                            format: uuid
                          isversionable:
                            type: boolean
                          islatestversion:
                            type: boolean
                          ismajorversion:
                            type: boolean
                  categories:
                    type: array
                    items:
                      type: string
                      format: uuid
                  keywords:
                    type: array
                    items:
                      type: string
                  relatedassets:
                    type: array
                    items:
                      type: string
                      format: uuid
                  assetCheckOutComment:
                    type: string
                  assetCheckInComment:
                    type: string
                  checkedOutBy:
                    type: string
                    format: uuid
                  renderAsPdf:
                    type: boolean
                  wopiEnabled:
                    type: boolean
                  userViewCounts:
                    type: object
                    properties:
                      Ut_86:
                        type: integer
                      consectetur7c:
                        type: integer
                      voluptate_94:
                        type: integer
                  createdAt:
                    type: string
                    format: date-time
                  hasVideoIntelligenceContent:
                    type: boolean
                  followed:
                    type: boolean
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      nostrud389:
                        type: object
                      non186:
                        type: object
                      amet_668:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      incididunt4d:
                        type: object
                      in2:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                title: <string>
                media:
                  type: <string>
                  small: <string>
                  thumb: <string>
                  large: <string>
                  original: <string>
                  medium: <string>
                  download: <string>
                  downloadRequest: <string>
                  stream: <string>
                  streamLoDef: <string>
                  originalDimensions: <string>
                  sasExpiry: <long>
                  sasRenewal: <long>
                  renditionItemCount: <long>
                  autodeskUrn: <string>
                  watermarked: <boolean>
                  assetId: <uuid>
                  streamingManifest: <string>
                  fullStreamAvailable: <boolean>
                file:
                  id: <uuid>
                  title: <string>
                  fileName: <string>
                  md5: <string>
                  fileType: <string>
                  sizeInBytes: <long>
                  description: <string>
                  keywords: <string>
                  uploadedAt: <dateTime>
                  modifiedAt: <dateTime>
                  approvedAt: <dateTime>
                  disapprovedAt: <dateTime>
                  expiresAt: <dateTime>
                  imageHeight: <long>
                  imageWidth: <long>
                  frameRate: <string>
                  length: <string>
                  bitRate: <string>
                  mimeType: <string>
                  resolution: <string>
                  colorMode: <string>
                  aspectRatio: <string>
                  orientation: <string>
                  sharedRenditionWidth: <long>
                  sharedRenditionHeight: <long>
                  sharedRenditionFileExtension: <string>
                  sharedRenditionFileSizeInBytes: <long>
                description: <string>
                altText: <string>
                containerName: <string>
                status: <integer>
                rating:
                  average: <integer>
                  user: <integer>
                attributes:
                  amet_a0e: <string>
                  culpa_16: <string>
                record:
                  createdAt: <dateTime>
                  createdBy:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  modifiedAt: <dateTime>
                  modifiedBy:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  softDeletedAt: <dateTime>
                  softDeletedBy:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  version:
                    version: <integer>
                    current: <uuid>
                    head: <uuid>
                    parentid: <uuid>
                    isversionable: <boolean>
                    islatestversion: <boolean>
                    ismajorversion: <boolean>
                categories:
                - <uuid>
                - <uuid>
                keywords:
                - <string>
                - <string>
                relatedassets:
                - <uuid>
                - <uuid>
                assetCheckOutComment: <string>
                assetCheckInComment: <string>
                checkedOutBy: <uuid>
                renderAsPdf: <boolean>
                wopiEnabled: <boolean>
                userViewCounts:
                  Ut_86: <long>
                  consectetur7c: <long>
                  voluptate_94: <long>
                createdAt: <dateTime>
                hasVideoIntelligenceContent: <boolean>
                followed: <boolean>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  nostrud389: {}
                  non186: {}
                  amet_668: {}
                interpolations:
                  incididunt4d: {}
                  in2: {}
                permissions:
                - lightbox:assignAsset
                - asset:shareAsCdnLink
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: An asset was not found.
        '500':
          description: The request failed because of a problem on the server.
    put:
      operationId: updateUploadProcessToComplete
      summary: Update Upload Process To Complete
      description: Completes upload process for asset and updates description for now.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                filename:
                  type: string
                title:
                  type: string
                description:
                  type: string
                fileSizeInBytes:
                  type: integer
            example:
              id: <uuid>
              filename: <string>
              title: <string>
              description: <string>
              fileSizeInBytes: <long>
      responses:
        '202':
          description: Request was accepted.
        '403':
          description: The user does not have permission to perform this operation.
        '500':
          description: The request failed because of a problem on the server.
    delete:
      operationId: removeAsset
      summary: Remove Asset
      description: Deletes an asset.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: isHardDelete
        in: query
        required: false
        description: isHardDelete query parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: An asset was not found.
        '500':
          description: The request failed because of a problem on the server.
    patch:
      operationId: updateAssetWithPatchOperations
      summary: Update Asset With Patch Operations
      description: Updates an asset with a list of patch operations.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  op:
                    type: string
                  path:
                    type: string
                  value:
                    type: object
                  from:
                    type: string
            example:
            - op: <string>
              path: <string>
              value: {}
              from: <string>
            - op: <string>
              path: <string>
              value: {}
              from: <string>
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  title:
                    type: string
                  media:
                    type: object
                    properties:
                      type:
                        type: string
                      small:
                        type: string
                      thumb:
                        type: string
                      large:
                        type: string
                      original:
                        type: string
                      medium:
                        type: string
                      download:
                        type: string
                      downloadRequest:
                        type: string
                      stream:
                        type: string
                      streamLoDef:
                        type: string
                      originalDimensions:
                        type: string
                      sasExpiry:
                        type: integer
                      sasRenewal:
                        type: integer
                      renditionItemCount:
                        type: integer
                      autodeskUrn:
                        type: string
                      watermarked:
                        type: boolean
                      assetId:
                        type: string
                        format: uuid
                      streamingManifest:
                        type: string
                      fullStreamAvailable:
                        type: boolean
                  file:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      title:
                        type: string
                      fileName:
                        type: string
                      md5:
                        type: string
                      fileType:
                        type: string
                      sizeInBytes:
                        type: integer
                      description:
                        type: string
                      keywords:
                        type: string
                      uploadedAt:
                        type: string
                        format: date-time
                      modifiedAt:
                        type: string
                        format: date-time
                      approvedAt:
                        type: string
                        format: date-time
                      disapprovedAt:
                        type: string
                        format: date-time
                      expiresAt:
                        type: string
                        format: date-time
                      imageHeight:
                        type: integer
                      imageWidth:
                        type: integer
                      frameRate:
                        type: string
                      length:
                        type: string
                      bitRate:
                        type: string
                      mimeType:
                        type: string
                      resolution:
                        type: string
                      colorMode:
                        type: string
                      aspectRatio:
                        type: string
                      orientation:
                        type: string
                      sharedRenditionWidth:
                        type: integer
                      sharedRenditionHeight:
                        type: integer
                      sharedRenditionFileExtension:
                        type: string
                      sharedRenditionFileSizeInBytes:
                        type: integer
                  description:
                    type: string
                  altText:
                    type: string
                  containerName:
                    type: string
                  status:
                    type: integer
                  rating:
                    type: object
                    properties:
                      average:
                        type: integer
                      user:
                        type: integer
                  attributes:
                    type: object
                    properties:
                      amet_a0e:
                        type: string
                      culpa_16:
                        type: string
                  record:
                    type: object
                    properties:
                      createdAt:
                        type: string
                        format: date-time
                      createdBy:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          username:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                      modifiedAt:
                        type: string
                        format: date-time
                      modifiedBy:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          username:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                      softDeletedAt:
                        type: string
                        format: date-time
                      softDeletedBy:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          username:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                      version:
                        type: object
                        properties:
                          version:
                            type: integer
                          current:
                            type: string
                            format: uuid
                          head:
                            type: string
                            format: uuid
                          parentid:
                            type: string
                            format: uuid
                          isversionable:
                            type: boolean
                          islatestversion:
                            type: boolean
                          ismajorversion:
                            type: boolean
                  categories:
                    type: array
                    items:
                      type: string
                      format: uuid
                  keywords:
                    type: array
                    items:
                      type: string
                  relatedassets:
                    type: array
                    items:
                      type: string
                      format: uuid
                  assetCheckOutComment:
                    type: string
                  assetCheckInComment:
                    type: string
                  checkedOutBy:
                    type: string
                    format: uuid
                  renderAsPdf:
                    type: boolean
                  wopiEnabled:
                    type: boolean
                  userViewCounts:
                    type: object
                    properties:
                      Ut_86:
                        type: integer
                      consectetur7c:
                        type: integer
                      voluptate_94:
                        type: integer
                  createdAt:
                    type: string
                    format: date-time
                  hasVideoIntelligenceContent:
                    type: boolean
                  followed:
                    type: boolean
                  _links:
                    type: object
                    properties:
                      self:
                        type: string
                      functions:
                        type: array
                        items:
                          type: string
                  translationKeys:
                    type: object
                    properties:
                      nostrud389:
                        type: object
                      non186:
                        type: object
                      amet_668:
                        type: object
                  interpolations:
                    type: object
                    properties:
                      incididunt4d:
                        type: object
                      in2:
                        type: object
                  permissions:
                    type: array
                    items:
                      type: string
              example:
                id: <uuid>
                title: <string>
                media:
                  type: <string>
                  small: <string>
                  thumb: <string>
                  large: <string>
                  original: <string>
                  medium: <string>
                  download: <string>
                  downloadRequest: <string>
                  stream: <string>
                  streamLoDef: <string>
                  originalDimensions: <string>
                  sasExpiry: <long>
                  sasRenewal: <long>
                  renditionItemCount: <long>
                  autodeskUrn: <string>
                  watermarked: <boolean>
                  assetId: <uuid>
                  streamingManifest: <string>
                  fullStreamAvailable: <boolean>
                file:
                  id: <uuid>
                  title: <string>
                  fileName: <string>
                  md5: <string>
                  fileType: <string>
                  sizeInBytes: <long>
                  description: <string>
                  keywords: <string>
                  uploadedAt: <dateTime>
                  modifiedAt: <dateTime>
                  approvedAt: <dateTime>
                  disapprovedAt: <dateTime>
                  expiresAt: <dateTime>
                  imageHeight: <long>
                  imageWidth: <long>
                  frameRate: <string>
                  length: <string>
                  bitRate: <string>
                  mimeType: <string>
                  resolution: <string>
                  colorMode: <string>
                  aspectRatio: <string>
                  orientation: <string>
                  sharedRenditionWidth: <long>
                  sharedRenditionHeight: <long>
                  sharedRenditionFileExtension: <string>
                  sharedRenditionFileSizeInBytes: <long>
                description: <string>
                altText: <string>
                containerName: <string>
                status: <integer>
                rating:
                  average: <integer>
                  user: <integer>
                attributes:
                  amet_a0e: <string>
                  culpa_16: <string>
                record:
                  createdAt: <dateTime>
                  createdBy:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  modifiedAt: <dateTime>
                  modifiedBy:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  softDeletedAt: <dateTime>
                  softDeletedBy:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  version:
                    version: <integer>
                    current: <uuid>
                    head: <uuid>
                    parentid: <uuid>
                    isversionable: <boolean>
                    islatestversion: <boolean>
                    ismajorversion: <boolean>
                categories:
                - <uuid>
                - <uuid>
                keywords:
                - <string>
                - <string>
                relatedassets:
                - <uuid>
                - <uuid>
                assetCheckOutComment: <string>
                assetCheckInComment: <string>
                checkedOutBy: <uuid>
                renderAsPdf: <boolean>
                wopiEnabled: <boolean>
                userViewCounts:
                  Ut_86: <long>
                  consectetur7c: <long>
                  voluptate_94: <long>
                createdAt: <dateTime>
                hasVideoIntelligenceContent: <boolean>
                followed: <boolean>
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  nostrud389: {}
                  non186: {}
                  amet_668: {}
                interpolations:
                  incididunt4d: {}
                  in2: {}
                permissions:
                - lightbox:assignAsset
                - asset:shareAsCdnLink
        '400':
          description: There was a problem with the data sent with the request.
        '401':
          description: The current user is not authorized to view this end-point.
        '403':
          description: The user does not have permission to perform this operation.
  /assets/{assetId}/videoIntelligence/token:
    get:
      operationId: retrieveVideoIndexerSubscription
      summary: Retrieve Video Indexer Subscription
      description: Retrieves video indexer subscription metadata for an asset.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: allowEdit
        in: query
        required: false
        description: allowEdit query parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  videoIndexerAccountId:
                    type: string
                  videoIndexerId:
                    type: string
                  location:
                    type: string
                  accessToken:
                    type: string
              example:
                videoIndexerAccountId: <string>
                videoIndexerId: <string>
                location: <string>
                accessToken: <string>
        '403':
          description: The user does not have permission to perform this operation.
        '404':
          description: The video intelligence was not found.
        '500':
          description: The request failed because of a problem on the server.
  /assets/{assetId}/history:
    get:
      operationId: retrieveAssetHistory
      summary: Retrieve Asset History
      description: Retrieves asset history.
      tags:
      - Assets
      parameters:
      - name: assetId
        in: path
        required: true
        description: assetId path parameter.
        schema:
          type: string
      - name: includeSoftDeleted
        in: query
        required: false
        description: includeSoftDeleted query parameter.
        schema:
          type: string
      - name: x-mv-api-version
        in: header
        required: false
        description: (Required) The requested API version
        schema:
          type: string
        example: '1.2'
      responses:
        '200':
          description: Request was successful.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    assetHistoryDetail:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          date:
                            type: string
                            format: date-time
                          user:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              username:
                                type: string
                              firstName:
                                type: string
                              lastName:
                                type: string
                          type:
                            type: string
                          assetId:
                            type: string
                            format: uuid
                          comment:
                            type: string
                          cropDescription:
                            type: string
                          sharedTo:
                            type: array
                            items:
                              type: string
                          brandedPortalName:
                            type: string
                          directLinkName:
                            type: string
                          directLinkDescription:
                            type: string
                          _links:
                            type: object
                            properties:
                              self:
                                type: string
                              functions:
                                type: array
                                items:
                                  type: string
                          translationKeys:
                            type: object
                            properties:
                              ut_a:
                                type: object
                              sit5b2:
                                type: object
                          interpolations:
                            type: object
                            properties:
                              culpa58:
                                type: object
                              laborum8:
                                type: object
                          permissions:
                            type: array
                            items:
                              type: string
                    summary:
                      type: object
                      properties:
                        approvedDisapprovedBy:
                          type: string
                        uploadedBy:
                          type: string
                        uploadedAt:
                          type: string
                          format: date-time
                        approvedAt:
                          type: string
                          format: date-time
                        disapprovedAt:
                          type: string
                          format: date-time
                        _links:
                          type: object
                          properties:
                            self:
                              type: string
                            functions:
                              type: array
                              items:
                                type: string
                        translationKeys:
                          type: object
                          properties:
                            minim19:
                              type: object
                            pariatur5e2:
                              type: object
                        interpolations:
                          type: object
                          properties:
                            amet2b5:
                              type: object
                            ad_8:
                              type: object
                            Lorem_ca:
                              type: object
                        permissions:
                          type: array
                          items:
                            type: string
                    _links:
                      type: object
                      properties:
                        self:
                          type: string
                        functions:
                          type: array
                          items:
                            type: string
                    translationKeys:
                      type: object
                      properties:
                        nisi_02:
                          type: object
                    interpolations:
                      type: object
                      properties:
                        voluptate48:
                          type: object
                        cupidatat_eba:
                          type: object
                    permissions:
                      type: array
                      items:
                        type: string
              example:
              - assetHistoryDetail:
                - id: <uuid>
                  date: <dateTime>
                  user:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  type: <string>
                  assetId: <uuid>
                  comment: <string>
                  cropDescription: <string>
                  sharedTo:
                  - <string>
                  - <string>
                  brandedPortalName: <string>
                  directLinkName: <string>
                  directLinkDescription: <string>
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    ut_a: {}
                    sit5b2: {}
                  interpolations:
                    culpa58: {}
                    laborum8: {}
                  permissions:
                  - asset:downloadFromMvd
                  - asset:assignCategory
                - id: <uuid>
                  date: <dateTime>
                  user:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  type: <string>
                  assetId: <uuid>
                  comment: <string>
                  cropDescription: <string>
                  sharedTo:
                  - <string>
                  - <string>
                  brandedPortalName: <string>
                  directLinkName: <string>
                  directLinkDescription: <string>
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    occaecat83a: {}
                    mollit_c95: {}
                  interpolations:
                    consectetur_e16: {}
                    esse_401: {}
                    in_b: {}
                  permissions:
                  - brandedPortal:view
                  - lightbox:share
                summary:
                  approvedDisapprovedBy: <string>
                  uploadedBy: <string>
                  uploadedAt: <dateTime>
                  approvedAt: <dateTime>
                  disapprovedAt: <dateTime>
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    minim19: {}
                    pariatur5e2: {}
                  interpolations:
                    amet2b5: {}
                    ad_8: {}
                    Lorem_ca: {}
                  permissions:
                  - asset:createVideoClip
                  - lightbox:assignAsset
                _links:
                  self: <string>
                  functions:
                  - <string>
                  - <string>
                translationKeys:
                  nisi_02: {}
                interpolations:
                  voluptate48: {}
                  cupidatat_eba: {}
                permissions:
                - lightbox:viewAsset
                - lightbox:transferOwnership
              - assetHistoryDetail:
                - id: <uuid>
                  date: <dateTime>
                  user:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  type: <string>
                  assetId: <uuid>
                  comment: <string>
                  cropDescription: <string>
                  sharedTo:
                  - <string>
                  - <string>
                  brandedPortalName: <string>
                  directLinkName: <string>
                  directLinkDescription: <string>
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    exercitation_2: {}
                    ut_e3: {}
                    aliqua_d0: {}
                    irure4f: {}
                  interpolations:
                    do_d: {}
                    sunt1: {}
                    tempor6: {}
                  permissions:
                  - user:editEmail
                  - lightbox:editDetails
                - id: <uuid>
                  date: <dateTime>
                  user:
                    id: <uuid>
                    username: <string>
                    firstName: <string>
                    lastName: <string>
                  type: <string>
                  assetId: <uuid>
                  comment: <string>
                  cropDescription: <string>
                  sharedTo:
                  - <string>
                  - <string>
                  brandedPortalName: <string>
                  directLinkName: <string>
                  directLinkDescription: <string>
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
                  translationKeys:
                    ut__: {}
                  interpolations:
                    officiaa6: {}
                    consectetur_75: {}
                  permissions:
                  - asset:shareAsWebGallery
                  - lightbox:assignAsset
                summary:
                  approvedDisapprovedBy: <string>
                  uploadedBy: <string>
                  uploadedAt: <dateTime>
                  approvedAt: <dateTime>
                  disapprovedAt: <dateTime>
                  _links:
                    self: <string>
                    functions:
                    - <string>
                    - <string>
[...]
